[2015-05-24 16:11] scott opened #1 "Mobile dropdown does not close after search"
After a search, the dropdown does not close back up.

[2015-05-28 00:31] scott opened #2 "In admin, when I post a reply, the refresh of the topic does not include internal notes"

[2015-05-28 19:26] #2 closed

[2015-06-13 18:16] scott opened #3 "Cancel Edit Post returns to homepage"
When editing a post, if you cancel instead of save, you are returned to the home page.

[2015-06-20 16:49] #3 closed

[2015-06-20 17:21] #1 closed

[2015-08-27 14:05] scott opened #4 "Your Tickets not aligned"
The rows on the your tickets view are not perfectly aligned, the status is not in the vertical middle

[2015-09-10 13:51] scott opened #5 "Flyout menu for admin articles not working on mobile"
When viewing all articles in a category, the right side menu is not working, so there is no link to delete or edit the article on mobile.

[2015-09-11 04:32] scott opened #6 "Reply box missing file upload for voteable replies"
Topics with voteable replies do not allow file uploads for replies

[2015-09-11 04:39] scott opened #7 "Inline reply box should not appear in admin view"
This seems to happen only when the topic uses voteable replies.  It should only include one reply box.

[2015-09-23 08:16] michaelgobbers opened #8 "How to add support users?"
Hi,

I've setup a helpy installation on heroku. I've been able to login with the default admin user and change it to my own user. However, I'm not able to add more users to the support team. How should I do this?

Cheers,
Michael

[2015-09-23 14:10] scott commented on #8
Hi Michael,

Ironic.  I was thinking last night how I need to add an article on how to add support users, or make it more obvious in the admin panel!  Here is what you should do:

1. Have each of the support team/users go to Helpy and open a private ticket requesting to be added.  This also creates their user account on Helpy.
2. From the admin panel, click on the name (not ticket) of each user.

[2015-09-23 14:10] #8 closed

[2015-09-30 20:10] FelixINX opened #9 "What is the "app store"?"
Hi,

I have seen a link to an App Store. What is it?

Thanks.

[2015-10-08 13:50] Netifriik opened #10 "Installation on Ubuntu 14.04"
The Installation section is not very friendly unless using Heroku. Any suggestions on how do install it on a Ubuntu machine?

[2015-10-08 14:19] scott commented on #10
I actually have not tried installing it on Ubuntu yet, but it should be fairly straightforward.  I will try to give it a try this weekend and let you know how it goes.  Do you have Ruby 2.2 and Rails 4.2 installed?

[2015-10-08 14:38] Netifriik commented on #10
I do. I'm already in the process of trying to install Helpy. I've got the settings configured, installed postgre and Ruby + Rails, seeded the database. But how do I run Helpy itself?

[2015-10-08 15:26] Netifriik commented on #10
Alright. I got it working on Ubuntu. I ran this command manually `bundle exec unicorn_rails -p 8888 -c ./config/unicorn.rb`

The only I ran into while trying to get this working was setting up the postgre database with Helpy. I needed to manually create an user and the database.

[2015-10-08 15:40] Netifriik commented on #10
Helpy seems to be very slow for me. Each page loads for about 10-60 seconds while my other pages load in less than 1 second. What could be the problem?

[2015-10-09 01:06] scott commented on #10
Hmm that sounds like it could be an environment issue, like the database connection is slowing things up?  To start it in production try `bundle exec unicorn_rails -p 8888 -E production -c ./config/unicorn.rb`

[2015-10-09 01:35] Netifriik commented on #10
Seems to be working perfectly now! :+1:

[2015-10-09 05:07] scott commented on #10
That would be great, and would be a big help to other users in Estonia :)

[2015-10-09 11:37] Netifriik commented on #10
This is the template file:
https://gist.github.com/Netifriik/7181c212ede116d6d420

Hope it helps :)

[2015-10-09 16:35] scott commented on #10
Thanks!  I will add it into the app.  I am also interested in any suggestions you might have to make Helpy better?

[2015-10-15 06:28] thantoldo opened #11 "Organization feature request"
Hi Scott!
Great work there :)

Is it possible to add the concept of 'organization' to the project?
For example, the project will support multiple organizations where each organization has its own users, admins, posts, topics, users, forums, etc. It is like adding a new level of abstraction to the whole project.

This can be done right now by installing multiple versions of the app (setting up mult

[2015-10-16 01:28] scott commented on #11
Hi Thanos,

Thanks for the idea!  If I understand you correctly, you are suggesting a "multi tenant" architecture, where multiple groups could share the same Helpy instance, in isolation?  (this could make server admin among other things quite a bit simpler for larger organizations)  Am I on the right path?

Unfortunately, I do not have an easier way to do it right now, and it seems like this woul

[2015-10-16 06:13] thantoldo commented on #11
Yes Scott, you are right, I'm suggesting a multi tenant architecture.

Maybe adding an organization model, an organization table field at the other models and altering all models a bit so they become organization aware, I think would be sufficient without altering anything else. Just basic functionality to start with. I could work sometime on this, unfortunately I can't consider when right now.

R

[2015-10-16 17:05] scott commented on #11
Okay, a few other things to consider for a true multi-tenant version:

- Helpy would need a more robust user authorization capability- to silo agents into their own organization
- Interface/Workflow for adding new orgs/admins.  Also the concept of a "super admin"
- Major questions around i18n and settings per org

Thoughts?

Another possibility is creating a "product" tier of abstraction, that wou

[2015-10-16 19:37] scott opened #12 "HTML appears in search result descriptions snippets"

[2015-10-17 15:41] thantoldo commented on #11
Well, the sky is the limit.

Depends on how you want to go on with helpy.
Start with basic functionality, like the super admin and organizations. i18n can be placed down the roadmap, not right from the beginning.

In the meanwhile, people's feedback could lead to one way or another. "Productizing" could be considered afterwards.

Just my 2c

Regards,

Thanos

[2015-10-18 23:15] #6 closed

[2015-10-18 23:15] #12 closed

[2015-10-19 04:32] #5 closed

[2015-10-21 05:04] #7 closed

[2015-11-02 04:51] scott opened #13 "Search results page is not using the I18n translation for "How can we help?""

[2015-11-02 04:54] scott opened #14 "Home breadcrumb is not using the I18n translation"

[2015-11-02 04:54] scott opened #15 "Yes/No buttons on "Did this help" do not appear to be using the I18n translations"

[2015-11-02 05:03] scott opened #16 "Search results are adding a weird lead param and not linking to SEO friendly URLs"

[2015-11-10 20:20] pepjo opened #18 "Is there support for multiple languages on the Kwnowladgebase?"
Is there support for multiple languages on the Kwnowladgebase?

[2015-11-11 00:25] scott commented on #18
Hey thanks for the language contribution!  In the current master branch there is not (yet) but I have been working hard at adding that and expect to have it released to master very soon.

[2015-11-11 07:27] pepjo commented on #18
That's fantastic! 😊

Thanks for your great work!

[2015-11-13 01:21] zefanja opened #19 "add custom fields depending on community/category"
It would be nice to add the possibility to configure custom fields for a new ticket depending on the community/category you choose.

So for example "bug report" may have other custom field then "Feature request".

[2015-11-13 17:02] wmakley commented on #10
I am having a similar problem with my own Debian server. Is unicorn required? I am trying to get it going in a Passenger environment (just what we have, makes running lots of small sites on one server easier). In my experience with unicorn, the app server shouldn't really affect any functionality, but I am getting some errors, so I thought I would check.

[2015-11-13 18:48] scott commented on #19
Thats a pretty interesting idea.  I will put it on the backlog list of possible enhancements!

[2015-11-14 16:33] scott opened #20 "After posting a reply in the admin panel, messages lose their context menus"

[2015-11-14 16:45] scott opened #21 "Common replies should not have HTML in them"

[2015-11-14 16:47] scott opened #22 "Change open discussion button in admin to "new ticket""

[2015-11-15 17:44] #13 closed

[2015-11-15 17:44] #21 closed

[2015-11-15 17:44] #22 closed

[2015-11-23 02:36] #14 closed

[2015-11-23 02:36] #15 closed

[2015-11-23 02:36] #16 closed

[2015-11-24 14:37] zefanja opened #23 "create tickets from custom email without the need of an third party provider like mandrill"
First of all: I like to progress and look and feel of helpy a lot! Great project!

It would be nice if you can configure a custom support email and tickets than are created automatically without the need of an external / third party provider.

This would be easier to setup (as a user) and it is also better for data sensitive environments where the use of third party tools is not permitted.

[2015-11-25 04:20] zefanja opened #24 "LDAP integration"
This is maybe a long term goal, but it would be nice to have an LDAP connector so you can use it in your existing AD/LDAP infrastructure.

[2015-11-26 04:31] scott commented on #23
I have been looking at something like Mailin.io for this.  This is an open source project that does the same thing as the external providers.  Check out https://github.com/Flolagale/mailin  There is also a mailin adaptor for griddler, which Helpy uses to help parse the messages.

I just noticed Mandrill no longer appears to offer 12000 emails a month for free.  Will have to stop recommending them

[2015-11-26 04:32] #23 closed

[2015-11-26 04:35] scott commented on #18
I don't know if you noticed, but I merged my dev branch into master a couple days ago and now the multi-lingual support is there!  I recommend updating to get this functionality.  Some documentation exists on
http://support.helpy.io/knowledgebase/12-Using-Helpy/docs/9-How-to-set-up-a-mutlilingual-Helpy-support-knowledgebase

[2015-11-26 06:27] zefanja commented on #23
Thank you! I'll check that out.

[2015-11-26 09:28] pepjo commented on #18
That's amazing! That makes helpy the ultimate help desk for me!

I'll contribute Spanish translation as soon as I can.

[2015-11-26 18:29] scott commented on #18
Awesome!  That would be very helpful :)  Let me know how it goes with the multilingual stuff- if you think of any improvements, find bugs, etc.

[2015-11-26 18:29] scott opened #25 "When loading an article to be translated, the form is not blank."

[2015-11-27 21:22] pepjo commented on #18
Hi!
I have sent the pull request with spanish and some catalan improvements.

I have a doubt about upgrading though. On the wiki says that I must run:
[code]
However, since my helpy is deployed on heroku I am guessing that I only have to run the following command:
[code]
is this correct?

[2015-11-27 22:22] scott commented on #18
That sounds correct to me.  I should probably enhance that article to cover both Ubuntu/Digital Ocean and Heroku!  Thanks for your translations :)

[2015-11-28 12:41] pepjo commented on #18
(I don't know If I should keep posting to this thread since this is no longer related to the title :/ )

After updating the version on heroku and running the db:migrate command I got the following error:

[code]

plus a thousand more lines....

And when I try to go to the app I get:
[code]

I'll probably do a clean install anyway but I wanted to let you know.

[2015-12-01 01:01] scott opened #27 "Cannot post message from a recognized but unlogged in user"

[2015-12-07 18:40] joshmn opened #28 "API"
Hey Scott,

I like what you're doing here and I'd like to help, if you'd like to have me. :)

Do you have any strong feelings towards using Grape[0] for the API?

Some other things I think would be roadmappable... jwt, multiple companies, assigning a group to a user — and having a group permission for forums/kb/tickets. I can talk more about them later (have a meeting to run to here shortly) but j

[2015-12-08 02:32] scott commented on #18
I still have not had a chance to try and replicate this, but did you run `bundle install` on your local before you pushed to remote on heroku?  It could also be that the `add_locale_to_versions` did not run.

[2015-12-08 03:22] scott commented on #28
Hi Josh!

Thanks for your interest and for your votes of confidence too!  I would love to have you help out, and grape looks like an awesome option for an api.  I'd love to learn more about your ideas for other functionality too.  Let me know if you need anything from me or want to bounce ideas back and forth!  You can ping me at scott.miller.utah-at-gmail-com

Scott

[2015-12-08 03:26] joshmn commented on #28
Sounds great! I'm excited! Grape is awesome and (honestly) a lifesaver. I
prefer its dsl (very... sinatra-like) versus blowing up actioncontroller.

I shot you an email as a bcc to this reply — you can poke me when you want
to, too. :) josh@josh.theabbreviationforminnesota

I'll pull 'er down and see what I can get done. Cool stuff to follow.

I love helpdesks.

On Mon, Dec 7, 2015 at 9:22 PM, Sco

[2015-12-08 04:14] scott commented on #28
Got your email too.  Excited to see what you do!

[2015-12-08 04:14] #28 closed

[2015-12-12 02:40] #25 closed

[2015-12-12 02:52] scott opened #29 "Remove Mandrill as the default mailhook provider"
Apparently Mandrill became greedy and has ended their free account tier.  As a result, they will be removed from Helpy as the default option.

[2015-12-27 21:50] #29 closed

[2016-01-12 01:12] scott commented on #18
I finally figured out what causes this issue and how to fix it.  Basically the migrations are in the wrong order- I will release a fix for this but in the meantime you can manually run the migration which adds the locale column to the versions database first, then run db:migrate like normal second and everything should work:

`RAILS_ENV=production rake db:migrate:up VERSION=20151107185413`

and th

[2016-01-16 19:26] #27 closed

[2016-01-22 13:52] pepjo commented on #18
Hi!,

I finally had time to update. I works wonderfully! Thanks for your hard work :smile:

[2016-01-23 17:23] scott commented on #18
Thanks!  Let me know what other suggestions you have!

[2016-01-23 17:23] #18 closed

[2016-02-04 23:20] scott opened #33 "Oauth icons are not showing up"
Some bug is preventing the icons from displaying in the login menu.

[2016-02-11 17:07] scott opened #34 "When an admin logs in, they should be redirected to the admin interface"
Currently they are taken back to the main page.

[2016-02-11 20:46] Nilos opened #35 "Can not open a new topic on support instance"
When I click Start Discussion here:
http://support.helpy.io/en/topics/new
I get an error 500.

This also happens when I am not logged in and try to start a discussion!

[2016-02-11 22:50] scott commented on #35
Thanks- the support site is running a version that had a bug and I have not had time to fix it yet!

[2016-02-14 22:11] #34 closed

[2016-02-14 22:11] #35 closed

[2016-02-16 00:37] dmitryzuev opened #36 "Community, topics and different languages problem"
Hi there.
Just found about your app, and it looks great!

Now about the problem:
When you looking at the demo community http://demo.helpy.io/ru/community
under other than english language (Russian, for example), you get error if you want to look at some topic.

Error: http://demo.helpy.io/ru/topics/24-hacking-hard-drive-is-not-working-/posts
Success: http://demo.helpy.io/en/topics/24-hacking-hard-

[2016-02-16 04:13] scott commented on #36
Hi Dmitry,

Thanks for your detailed issue report!  Ironically I discovered this today and was working on resolving it.  The cause of the problem is in the Russian translation file with pluralization- as you probably know, english does not use as many conjugations for pluralization as in Russian- so the translation file typically uses one and other as keys, but with Russian it takes zero, one, few

[2016-02-16 05:57] dmitryzuev commented on #36
Yes, when I started local copy of Helpy, I also realised why this is happening :-)
Thanks!

[2016-02-16 17:19] #36 closed

[2016-02-19 14:02] pepjo opened #38 "Let users read articles in other languages if they are not translated to the user's language"
Hello again :smile:,

First of all, we love using helpy and we love the speed of development.

Having that said, we find that we cannot always translate the knowledge base articles to all languages before making them public. This leads to some languages having less articles. Most of our users are able to fully understand more than one language even though they prefer one or another. We feel that i

[2016-02-19 16:52] scott commented on #38
Hi Pep!  Glad to hear it is working out for you :)  Its great to hear from actual users that are happy with the project!

Yeah this was something that was originally planned for the multilingual feature but never got quite finished.  I will see what it will take to finish that up.  The auto translation would be great too, but AFAIK Google charges for their translation service... maybe there is an

[2016-02-19 22:29] pepjo commented on #38
Hi,

Regarding the automatic translation, I think that the proper thing to do would be to let users configure their own token in settings.yml. I think that bing translation lets you translate some phrases for free but you need a token anyways (and it's not as good as google).

All the same, I'm not sure if this is a top priority at the moment.

[2016-02-20 10:34] pepjo opened #39 "We are getting lots of "Error R14 (Memory quota exceeded)" on Herkou"
Hi again,

sometimes we get a 500 error when we try to post a new article, I've check the logs and I found
that `Error R14 (Memory quota exceeded)` keeps repeating all over again.

I've also found that this error keeps repeating:
[code]

I've tried to track down the issue but I've never worked with Ruby nor Ruby on Rails.

So you have any Idea about what may cause the issue?

[2016-02-21 17:24] scott commented on #39
I am not too sure about the memory quota thing.  Are you using a free Heroku account or have you actually added Dynos?

As for this other exception, let me take a look into that.  I am familiar with that error.

[2016-02-21 17:26] scott commented on #38
Thats a pretty good idea, but I agree it is not a super high priority item.  Thanks for the suggestions :)

[2016-02-21 17:52] scott commented on #39
I just looked at my Heroku logs- I am seeing the R14 error.  Currently demo.helpy.io is running on the Heroku free tier.  I researched it and the R14 error indicates your Heroku server is running out of physical memory and is swapping.  This can lead to performance issues.

I generally recommend at least 2GB of memory, and the free tier on Heroku only includes 1 dyno @512k of memory, but with a sw

[2016-02-21 18:00] scott commented on #39
By the way, what version oh Helpy are you running?  I think that other error was fixed a while back.

[2016-02-21 23:50] pepjo commented on #39
About the memory warning, I'm currently running on Hobby Dynos, I had done some research to and I had added a env variable: MALLOC_ARENA_MAX=2 as recommended somewhere in heroku docs. I have done this recently so I still don't know if it helps.

About the version, I usually merge your changes once a month or so, last time I did so was last friday. Since I do change somethings I usually get merge e

[2016-02-22 05:05] scott opened #40 "Missing i18n keys"
there still seem to be some translated strings that aren't displayed properly.
URL: .../topics/new

ask a question: "subject"
URL: .../users/edit
my profile: "signature"
URL: .../community/.../edit
 Allow topic voting
 Allow post voting
URL: .../ticket/...
Ticket Number:
Opened On:

[2016-02-22 19:56] scott opened #41 "Devise not redirecting to correct locale"
If an unlogged in user creates a new ticket in a non default language, they are redirected to the sign in screen in the default language.

[2016-02-22 23:24] scott opened #42 "Two reply boxes appearing in admin under certain circumstances"
When reply voting is enabled, and after an admin reply, two reply boxes appear.

![screen shot 2016-02-22 at 4 22 48 pm](https://cloud.githubusercontent.com/assets/14369/13236303/c0446400-d980-11e5-8732-749c4fa1bb86.png)

[2016-02-24 01:45] olliebennett opened #45 "Replace LESS with SCSS"
This has a few benefits:

- We can remove `therubyracer` and therefore the `libv8` dependency, which are very clunky, and arguably overkill!
- SCSS has become the prevalent CSS extension (vs. LESS).
- Twitter Bootstrap is actually moving to SCSS for the next version and [Bootstrapv3 support](https://github.com/twbs/bootstrap-sass) is in place already.

My cursory glance indicates that the codebase

[2016-02-24 02:22] olliebennett opened #48 "New "Companies using Helpy" List"
A good way to engage with the community; it would be nice to have a list somewhere of companies using this tool. It would provide a sense of security and community adoption which could help uptake.

[2016-02-24 02:23] olliebennett opened #49 ""Deploy to Heroku" Button"
Heroku provide a great one-click "Deploy to Heroku" button which would sit really nicely in the README as a way to get set up with absolutely minimal effort.

Docs: https://devcenter.heroku.com/articles/heroku-button

Do you think it's worth setting up a button to allow this?

[2016-02-24 04:48] scott commented on #48
I think this is a great idea.  I originally considered adding a place where people could post screenshots of their customization/design as well, but I have been waiting to get more adoption.

[2016-02-24 04:54] scott commented on #45
Yes I did think of doing this especially since Bootstrap is moving to it.  You are right, the implementation is pretty basic and actually really poorly done.  Going in and removing cruft and doing the styles right is on the roadmap.  I think right now there is a lot of duplication and also unused styles.  So yeah a refactor PR would be awesome, but expect to find a bit of a mess between the LESS s

[2016-02-24 18:51] pepjo commented on #39
Ok, I did the diff and nothing was suspicious so I created a new free heroku dyno with a vanilla version of the helpy app.

The error persists. Although its a bit tricky since I cannot replicat it, only one member of the support team triggers it. And it's not only on one machine or connection, he has been able to replicate this on multiple computers and different networks.

This is a bit weird, bu

[2016-02-25 00:48] olliebennett opened #53 "Refactor @page_title out of controllers"
I see lots of instances in the controller such as:

[code]

This should be a view concern; is there any objection to using a quick custom helper like `<%= title "Page Title" %>` in the view, as [described here](http://railscasts.com/episodes/30-pretty-page-title?autoplay=true) or else something like the [metamagic](https://github.com/lassebunk/metamagic) gem for a more comprehensive solution?

I d

[2016-02-25 09:51] olliebennett commented on #48
Great. Let me know whether you'd rather keep that in GitHub (i.e. the README) or as knowledgebase content on support.helpy.io perhaps.

As to your "themes" suggestion, users could always use an existing Bootstrap theme (eg. from [Bootswatch](https://bootswatch.com/), but I agree it would be good to structure our own sass files to allow easier customisation or "theme swaps" down the line. Will keep

[2016-02-26 03:13] #49 closed

[2016-02-26 03:36] scott commented on #53
Nothing would make me happier than to get the title and meta code out of the controllers, but different actions use different logic for figuring out what the title should be, which means using "one helper" is not going to work very neatly.  Add in the fact that `add_breadcrumb` uses the root page title as well, I just decided to keep it all in the controller for clarity.  I am open to changing thi

[2016-02-26 03:38] scott commented on #48
Yeah I want to get some of the theme stylings into `settings.yml` like the basic colors, logo, fonts, etc.  We could also a variable to point to an entire bootstrap theme.

[2016-02-26 17:46] olliebennett opened #54 "Error messages are duplicated on sign up form"
See screenshot:

![screen shot 2016-02-26 at 17 44 56](https://cloud.githubusercontent.com/assets/1068525/13360361/c3f6ca24-dcb0-11e5-8b6a-98a072aae8c8.png)

The above occurs when I try to create an account with an existing email address.

[2016-02-26 23:06] pepjo commented on #39
At last!! I have managed to get in an screen sharing session with the support member who was getting the error and now I know how to reproduce it:

1. You'll need to set up helpy with different languages
2. Create a new article
3. Go inside the article, change the language and write a title. Leave the body blank.
4. Save
5. You'll get an error :smile:

Now that we know exactly what's happening we

[2016-02-26 23:12] scott commented on #39
Wow awesome work on recreating the issue!  I will see what is going on here...

[2016-02-27 02:59] olliebennett commented on #39
The performance / memory usage aspect of this bug should be addressed at least in part by https://github.com/scott/helpy/pull/57.

[2016-02-27 16:33] #54 closed

[2016-02-29 03:37] scott opened #59 "CSS Suggestions from @BobMoree"
Concerning the CSS, I just came across a bug:

.media, .media .body {
overflow: hidden;
}

Because of this default bootstrap styling, you cannot access the edit post drop-down fully.
At least that's what happened when I was in the admin on the ticket detail page.
Just make it: overflow:visible; (this does mess with the lay-out a little, but saves the UX)

There's also something wrong with the nav-

[2016-02-29 09:14] pepjo commented on #39
Great! thanks @olliebennett :smile:

[2016-02-29 12:53] pepjo opened #60 "use titleize only in english"
Hi again,

I just want a let you know that the title case is only used in english (at least, it is not used in spanish or catalan) and looks horrible on other languages. I'm saying that because Helpy does `.titleize` every title without taking into consideration the locale.

I've removed every `.titleize` in my helpy fork and manually type the english titles in title case, but I realise this is no

[2016-02-29 14:47] scott commented on #60
@pepjo Thanks!  I did not know this.  So are you referring to the titles of articles and categories specifically, or pretty much everywhere?  Do you suggest we leave it up the locale.yml to determine correct titleization for navigation, system messages, etc?

[2016-02-29 15:01] pepjo commented on #60
Pretty much everywhere, but looks worse on longer sentences like titles and categories.

Yes, I feel that that would be the proper way to do it.

[2016-02-29 16:25] #45 closed

[2016-02-29 18:38] olliebennett commented on #60
I agree it's probably overkill to `.titleize` everything when displaying it.

Perhaps converting to **sentence case** could still be appropriate for post titles etc. It seems there must be _some_ rules common to most languages, and sentence case is hopefully more acceptable than `titleize`. Would that work?

I think regardless of our decision, it should be possible to edit the string into any desi

[2016-02-29 18:51] scott opened #61 "Missing i18n: Admin Views"
Admin Topic:

- Move forum dropdown: The word "Move"
- Post Dropdown: Not translated at all
- Reply to this Topic

Admin creating a new topic:

- Discussion Management header

Article Edit:

- "Additional Settings" Header
- Article Status: Published vs. Draft
- Save Changes

Admin Communities

- Admin Communities Header
- Community TH

[2016-02-29 23:28] scott commented on #60
@pepjo So you are saying @olliebennetts suggestion (and mine too) of doing first word capitalization will work?  Thats just `@doc.title.capitalize` instead of `titleize`.  So is the titleize likely messing up the German pretty bad?  I don't know much about German.

[2016-02-29 23:58] pepjo commented on #60
@olliebennett yes, as far as I know sentence case is fine for most languages! I didn't know about the username capitalitzation system, looks pretty bad ass to me :smile:

@scott Yes, I think so. About German, its definitly readable its just harder and looks bad beacouse people are not used to it.

[2016-03-01 16:09] scott opened #62 "Responsive bug"
At one breakpoint I am seeing the discussion fold underneath the users info.  This could be a regression because I don't remember seeing it before.

![screen shot 2016-03-01 at 9 06 56 am](https://cloud.githubusercontent.com/assets/14369/13433005/3c28ff2e-df8d-11e5-9bc6-8389dd76d718.png)

[2016-03-02 00:38] #62 closed

[2016-03-02 17:36] scott commented on #60
@pepjo I have one more question for you- for things like "Category Name"  such as "Common Questions" in English we would typically titleize this.  What is the normal practice for Spanish, German, etc?

[2016-03-02 17:51] pepjo commented on #60
We never titleize, under any circumstance. All the same, short sentences
like those don't feel as bad as longer sentences.

El dc, 2 març 2016 a les 18:37 Scott Miller <notifications@github.com> va
escriure:

[2016-03-02 20:30] olliebennett opened #65 "Configuration via ENV vars"
I propose we support configuration of Helpy via environment variables. The `settings.yml` is great, but it could be a nice idea to have, for example:

[code]

This would allow us to configure most (all?) configuration via environment variables.

It would also make the "Deploy to Heroku" button really trivial to use; we could ask for the required info during deployment.

See also: [Heroku "config v

[2016-03-02 22:07] scott commented on #65
I think thats a really good idea.  I still question the viability of Heroku for long term use however- simply due to its cost.  But that is a different topic for a different thread.  In terms of making it really easy to get up and running, there is no equal.

[2016-03-02 23:42] #60 closed

[2016-03-03 02:41] scott opened #66 "Missing breadcrumb in mobile locale selection page"
The translation for the root breadcrumb is missing.  Also, the link to go to this page should be hidden if there are no alternate translations.

![screen shot 2016-03-02 at 7 39 36 pm](https://cloud.githubusercontent.com/assets/14369/13483064/8b2dbade-e0ae-11e5-8336-9424c5aac8f7.png)

[2016-03-03 03:23] #33 closed

[2016-03-03 10:02] mario opened #68 "API?"
Hey mate, was just wondering if you have any plans for an API?

[2016-03-03 13:41] rschaerer opened #69 "Creating a new ticket as an admin and leaving the email field blank, breaks the open tickets view"
Creating as an admin a new ticket on behalf of a customer via the admin interface (`/admin/tickets/new`) and leaving the `Email` field blanks breaks the view of "new tickets") (`/admin/tickets?locale=de&status=new`) because the database field `user_id` in the tables `topics` and `posts` is `NULL`.
# Proposed solutions to fix this
- make the email field mandatory
- assign a `no e-mail provided` use

[2016-03-03 13:48] rschaerer opened #70 "Error messsage about missing email in new ticket view is duplicated"
Maybe already fixed with #54 but I'm not sure about, because this happens on a different view than #54 is concerning:

If a non logged in user tries to create e new ticket on `/de/topics/new` and leaves the email fiel blank, the error message below the email input field is printed **tiwce** instead of **once**.

See this two picture of a german instance:
![selection_004](https://cloud.githubuserco

[2016-03-03 13:50] rschaerer commented on #70
ah, i see that the sign up thing is a duplicate of #54. Did #54 also solve the same thing on the new ticket form?

[2016-03-03 13:57] rschaerer opened #71 "Feed back bounced email notifications from mailgun, etc. back into helpy"
Since some customers enter a wrong email address, some emails bounce. This is nowhere reflected in helpy.

Up to now, I have to watch the logs of the provider like mailgun to know which email communication fails.

It would be nice if bounces could be somehow reflected in helpy. Maybe by setting the ticket status back to in progress or at least on a dedicated view where i can watch my bounced e-mai

[2016-03-03 15:03] scott commented on #68
Yes!  At one point a contributor contacted me about actually building it, but he got busy with life and had to put the work on hold...

[2016-03-03 15:06] scott commented on #70
Thanks for this, it looks like it would be pretty easy to fix.

[2016-03-03 15:06] scott commented on #69
Thanks for this, we'll take a look at see what we can do to fix it :)

[2016-03-03 15:08] scott commented on #71
Thats a good idea, will have to take a look and see how difficult it would be to incorporate.

[2016-03-04 00:19] scott opened #73 "Cannot post from Q&A and Matrix forums"
Not sure when this was introduced, but even when logged in, I cannot post messages from these views.

[2016-03-04 10:04] olliebennett opened #76 "Case conversion should be handled via CSS"
There are various occurrences of `.upcase` in the codebase, which are used for styling purposes on badges, labels and so on.

I propose that this is a concern for the stylesheet, and should be handled using CSS such as:

[code]

Not only does this simplify the ruby logic, and allow for control of all badge styling (for example) in a single location, it also allows a custom theme to decide whether

[2016-03-04 14:43] scott commented on #76
Agreed!

[2016-03-04 17:34] olliebennett commented on #68
I'd be interested in hearing what you planned to build on top of the API. What kind of integration are you planning?

[2016-03-04 18:02] scott commented on #68
There is another thread over on http://support.helpy.io/en/topics/51-is-there-an-api-option/posts about the same thing.

[2016-03-04 18:25] mario commented on #68
I was actually planning on building mobile apps for Helpy, and a support SDK for mobile apps on top of it ... just wanted to check if you have API before I contact you to discuss details (and my ideas) regarding that. If you've got an email that I can hit ... ^_^

[2016-03-04 18:47] olliebennett commented on #68
It would be great to have an SDK for Android/iOS which allowed app users to have conversations with the support team through Helpy.

I also think there's a lot of value in a (perhaps hybrid) app for the Admin interface, which would provide the support team with updates to their assigned topics etc, allowing for more timely responses.

[2016-03-04 19:08] scott commented on #68
@olliebennett I agree on both- in fact the admin app/SDK is something that I had in the back of my mind from the beginning.  @mario We have a slack room set up, shoot me an email at hello at scottmiller.io and we can discuss this more offline.

[2016-03-05 17:43] olliebennett commented on #69
This is certainly an interesting problem.

I'd propose that a short-term fix (to avoid actual breakage of the system) would be to require the email input by the admin when creating the ticket.

As for the longer-term solution, I agree it'd be nice to avoid admins having to enter `dummy@example.com`.

My thought on some (non-ideal) options:

- One single "no-email" user. Not sufficient because - to

[2016-03-05 18:46] olliebennett commented on #73
Hey @scott - not quite sure how to reproduce this. What are the "Matrix" forums? Keen to fix it I can reproduce it.

[2016-03-05 19:29] scott commented on #73
Yeah I am not sure, when I went back to try on my end I was having troubles reproducing it as well.  Let me dig into it a bit more and see if I can figure it out.

[2016-03-05 19:39] olliebennett commented on #73
Sweet. If you have a screenshot of what exactly you mean by these pages anyway, it'd be good to understand the terminology you're using for the project.

[2016-03-05 22:02] scott commented on #73
When you create or edit a forum there is a selection for the format.  Table based is what most forums look like.  There are two others- Q&A which is kinda like Quora, and Grid (what I called matrix by accident.) which is a poorly conceived version of what a card base layout might look like.

On all of the forums, if you are not logged in, there should be a button to "Reply" or something- which wil

[2016-03-05 22:05] olliebennett commented on #73
Okay - got it, thanks! Makes much more sense now; cheers for the detailed info. Will leave you to it to try and reproduce, although my first guess would be it's related to a session timeout so might be worth logging out in another tab to see if that triggers it.

[2016-03-05 22:08] olliebennett commented on #70
Hey, yeah the solution to #54 will almost certainly have fixed this too; that fix wasn't view-specific, but related to the model itself. Appreciate you raising it regardless; no objection to keeping this open until you verify it's resolved after the next release.

[2016-03-06 21:39] scott commented on #73
Alright I figure out what I was talking about above, and am working on a fix now :)

[2016-03-07 03:14] scott commented on #65
@olliebennett  Is there a way to script the heroku deployment to request the needed ENV vars that you know of?

[2016-03-07 07:03] olliebennett commented on #65
Yes - it's all documented really clearly in the [app.json schema](https://devcenter.heroku.com/articles/app-json-schema#env).

[2016-03-07 07:33] olliebennett commented on #66
As a quicker way to identify this more generally, how about forcing exceptions to be raised on missing translations?

Basically, we just need to uncomment the following in `development.rb` and `test.rb`:

[code]

More info [here](https://robots.thoughtbot.com/foolproof-i18n-setup-in-rails).

[2016-03-07 13:39] pepjo opened #77 "Change google fonts to use https to avoid "mixed content" warning"
When using helpy over https one gets the following message on chrome:
[code]

I'll send a pull request to fix it :smile:

[2016-03-07 18:15] scott opened #79 "If reply voting is enabled, reply form does not work"
In a forum thread where reply voting is enabled, the inline reply forum does not submit unless you reload the page.  I narrowed it down to a turbo links issue, but didn't have time to dig further yet.

[2016-03-07 18:36] #77 closed

[2016-03-07 18:58] scott commented on #70
@rschaerer @olliebennett I just confirmed that this is resolved on master, so closing the issue-

![screen shot 2016-03-07 at 11 56 56 am](https://cloud.githubusercontent.com/assets/14369/13579635/cc94906e-e45b-11e5-9baa-d83a333e77f0.png)

[2016-03-07 18:58] #70 closed

[2016-03-08 13:03] jonasleimgruber opened #81 "Upload PDF?"
It's not possible to upload PDF's with the ticket. It would be great if that's possible as well.

[2016-03-08 14:39] scott opened #82 "URLs in posts should be auto linked"
Currently they are not which causes a lot of pain, esp on mobile.

[2016-03-08 22:42] #73 closed

[2016-03-08 22:42] #20 closed

[2016-03-08 22:42] #42 closed

[2016-03-09 09:06] rschaerer commented on #81
Cloudinary seems to support this filetype. So this might be quite easy to enable in helpy?

[2016-03-09 14:31] scott commented on #81
Yes, I believe Cloudinary does, and enabling Helpy to accept the file type should be fairly easy.  However, Helpy currently shows thumbnails of attached images, and I think there would be a little work there to support PDF files (maybe with an icon placeholder.)  If someone wants to take a crack at it and send a PR, I would be happy to help/review.

[2016-03-10 11:43] popperz0r opened #87 "App Logo"
Hello,

ive created a Setting variable with app logo,

Im not much experienced with git in order to create branchs etc since my app is very customized.

If someone could help i would be pleased.

[2016-03-10 11:54] popperz0r opened #88 "email_processor"
Hello,

Im getting this error when mailgnu send post requests.

The page you were looking for doesn't exist.

You may have mistyped the address or the page may have moved.

If you are the application owner check the logs for more information.

Have this url changed?

[2016-03-10 15:22] popperz0r commented on #88
my bad, is fixed now

[2016-03-10 15:22] #88 closed

[2016-03-10 15:28] popperz0r opened #89 "Admin answer error"
2016-03-10T15:26:36.485405+00:00 app[web.1]:    (2.0ms)  SELECT COUNT(*) FROM "topics"
2016-03-10T15:26:36.491365+00:00 app[web.1]:   Rendered admin/_ticket_stats.html.erb (9.6ms)
2016-03-10T15:26:36.499492+00:00 app[web.1]:   Rendered admin/_ticket_nav.html.erb (4.2ms)
2016-03-10T15:26:36.503304+00:00 app[web.1]:   Rendered admin/_ticket_nav_dropdown.html.erb (3.0ms)
2016-03-10T15:26:36.503984+00

[2016-03-10 15:40] popperz0r commented on #89
forgot to update database (migration files)

[2016-03-10 15:40] #89 closed

[2016-03-10 19:45] tomasibarrab commented on #87
@popperz0r you need to fork the repository then commit and create a pull request in order to accept and merge the changes.

[2016-03-11 10:04] popperz0r commented on #87
Scotty helped me out :)

Appreciated

[2016-03-11 10:04] #87 closed

[2016-03-11 11:10] rschaerer commented on #81
About the thumbnail issue: [Cloudinary can generate thumbnails for PDF documents](http://cloudinary.com/blog/uploading_converting_and_generating_thumbnails_for_pdf_documents).

Let's see if someone comes around with a PR. Otherwise, maybe i'll dig into that later.

[2016-03-11 11:36] rschaerer commented on #69
Thank you very much for the detailed analysis of this issue, @olliebennett. Your insight made me think about the challenge to implement this in a good way, without changing the fundamental user authentication model helpy uses right now.

Another (non-ideal but good to go) possibility I can think of is something similar like your second point **"One new "no-email" user automatically created per "em

[2016-03-15 16:45] scott opened #96 "Draft docs should not appear in search results"
Just noticed a new article is appearing in the search but it is not actually viewable.

[2016-03-17 16:55] rusikf commented on #79
@scott, Do you tell about this ?
![screen](http://i.imgur.com/syG5q5u.jpg)
Voting here works fine.

After clicking , Vote record is added( I checked in console )

[2016-03-17 17:20] scott commented on #79
Thanks for looking into this issue.  My bug ticket was not clear enough- this screen capture shows the form which does not work.  Reply voting is different than topic voting (that your screenshot has).

![screen shot 2016-03-17 at 11 19 30 am](https://cloud.githubusercontent.com/assets/14369/13854650/2c660f58-ec32-11e5-994c-1bb19e3a66b2.png)

[2016-03-17 17:23] scott commented on #69
@rschaerer @olliebennett I just merged some changes that put a "band aid" on this, by preventing form submission if the fields are empty.  This is a nice UX effect, but does not solve the underlying problem or the use case outlined above.  The good thing is the UI won't need to be reloaded if you fail to complete the form, the bad thing is if a user does not have an email, the problem still exists

[2016-03-17 21:54] #41 closed

[2016-03-18 13:44] scott opened #99 "When an agent replies to a ticket, they should be assigned if it is currently unassigned"

[2016-03-18 13:45] #82 closed

[2016-03-18 13:47] scott commented on #10
I wrote a tutorial for installing on Ubuntu 14.04 with Passenger at http://support.helpy.io/en/knowledgebase/11-installing-helpy/docs/27-installing-helpy-on-ubuntu-14-04-using-passenger-and-nginx

[2016-03-18 13:47] #10 closed

[2016-03-18 17:27] scott opened #100 "User name should not allow numbers. Initial.js is not handling numbers in names and freezes."
A username should not allow numbers.  Currently numbers are permitted, and this is messing up initial.js, so may need to patch this also.

[2016-03-19 20:51] #96 closed

[2016-03-24 20:58] olliebennett opened #104 "Feature Request: Canned Responses"
An option to send a pre-defined message to a user. Typically used to respond quickly to recurring questions.

[2016-03-24 21:00] olliebennett opened #105 "Feature Request: Ticket "Response Time" Stats"
It'd be really useful to see your average (median) "first response" time to tickets. This is something that could be displayed for the last 7 days, 30 days, all time etc.

It could (if you think it's worth it) be broken down per agent.

[2016-03-24 21:30] scott commented on #104
Already exists, and is multilingual  :)

![screen shot 2016-03-24 at 3 29 13 pm](https://cloud.githubusercontent.com/assets/14369/14031967/360e7bd2-f1d5-11e5-898e-d0c22b465cda.png)

[2016-03-24 21:33] olliebennett commented on #104
Well... that's awkward! Sorry!

[2016-03-24 21:33] #104 closed

[2016-03-24 23:18] #79 closed

[2016-03-24 23:26] scott commented on #105
My original vision for all analytics was to let people leverage Google Analytics for that, but the time issue is one place where GA really doesn't do a great job with the reporting.  I also planned on a "Team" dashboard view, which would show you and your agents, how big of a queue each has, and some  other basic performance stats, which sounds pretty inline with your suggestion.

[2016-03-25 03:42] scott commented on #104
No worries, I am glad you suggested before diving in and working on it :)

[2016-03-25 09:12] olliebennett commented on #105
I've prepared a PR at #106 for this.

[2016-03-28 03:06] #99 closed

[2016-03-30 17:03] rusikf opened #112 "Assets for widget"
[It looks, that there is a direct link to assets for widget.](https://github.com/helpyio/helpy/blob/master/app/assets/javascripts/widget.v1.js#L137)
But if we will use helpy in production, it will be not work because assets will be precompilled,
We can add aditional routes for helpy, which on respond returns link to compilled version , @scott what you think about this idea?

[2016-03-30 21:29] #100 closed

[2016-03-31 01:46] scott commented on #112
As long as they are not in the manifest, they should remain uncompiled. Currently tree is commented out which means you have to list the specific files you want compiled.  Although I have not tested it yet, I believe this should work.  Am I wrong?

[2016-03-31 06:13] rusikf commented on #112
Ok, thank's, I agree with you :wink:

[2016-03-31 06:13] #112 closed

[2016-04-01 16:24] scott opened #114 "When trying to visit the admin pages without being logged in, I get an error."
This only happens for admins.  To recreate, make sure you are not signed in, then browse to yoursite.com/admin and you'll see the exception.

An unsigned in user (non admin) trying to access a protected page (tickets) is redirected to the sign in page correctly.

This seems to be a new bug after @rusikf bug fix https://github.com/helpyio/helpy/issues/41

I think there are two ways to fix this, 1-

[2016-04-05 21:54] #114 closed

[2016-04-12 18:00] BenHagan opened #117 "Feedback When Posting Response or Internal Note to Ticket"
Hello, first off, this looks like a really cool project, and I hope it does well.

I got an instance up, and while posting some test responses/internal notes I noticed that when I hit the submit button, there's no indication that my response was successfully posted.  This led me to click the submit button once more, and again no response.  I refreshed the page, and now see my response actually pos

[2016-04-12 18:33] BenHagan commented on #117
Strangely enough it works fine on the version I deployed to Heroku, just not on DO.  Strange...

[2016-04-12 18:33] #117 closed

[2016-04-12 18:50] scott commented on #117
Hey Ben!

Yeah this is because there is no SMTP server configured when you first install, which results in an exception (we're not using any kind of backend queue for sending email, yet at least.)  I am getting ready to launch a new release that changes the behavior so that it "just works" when you first install.  Glad you like Helpy.

[2016-04-13 17:26] scott opened #118 "No validations displayed on admin "new discussion" form"
Validations should be displayed when a user enters incorrect information.  Currently it just hangs.

[2016-04-19 16:04] scott opened #122 "Uploading an image to the KB pastes it twice"
Image gets duplicated into the editor view, requiring user to delete one of the two images.

[2016-04-20 20:39] fia5000 opened #124 "Any chance for a Docker Container for Helpy?"
A docker container would make adoption incredibly easy.

[2016-04-21 13:18] brianjking commented on #124
@fia5000 I believe they have a docker repo already... https://github.com/helpyio/helpy-docker

[2016-04-21 13:23] brianjking opened #125 "Feature Request: Deploy to Openshift Button"
I'd love to see this app feature a one click-installer for Openshift like you've done so for Heroku in #49.

https://blog.openshift.com/updated-openshift-deploy-buttons/

Openshift has some significant advantages over Heroku on the free plan, the first and most obvious being that you can have 3 of the lowest tier Gears (Openshift's version of Dyno's) all available 24x7 without the application need

[2016-04-21 22:37] goodniceweb opened #126 "Sign up with github is broken"
Steps to reproduce:
1) Go to http://demo.helpy.io/
2) Click "Sign In"
3) In opened popup click "Sign in with github"
4) See regular error "We're sorry, but something went wrong." and url looks like that: http://demo.helpy.io/users/auth/github/callback?code=blahblahblah

[2016-04-21 22:55] scott commented on #126
Thanks!  It was working....

[2016-04-21 22:56] scott commented on #125
I have been hearing about openshift as a good alternative to Heroku.  I will take a look at what this takes :)

[2016-04-21 22:58] scott commented on #124
Yeah it would be great if you could try that out and see how its working.  If you run into troubles,  @wayneconnolly can hopefully help out.

[2016-04-21 23:07] brianjking commented on #125
@scott Thanks, I'm happy to help test.

I know you can use either pre-built cartridges or build your own. However, there is already a Ruby on Rails version which includes MySQL.

https://hub.openshift.com/quickstarts/76-ruby-on-rails-4

https://developers.openshift.com/languages/ruby/deploying-rails.html

Their pricing is far better than Heroku and their free tier is definitely great since apps do

[2016-04-23 11:45] ubergesundheit commented on #124
Hey @fia5000,

I had the same problem and threw [this](https://github.com/ubergesundheit/helpyio-docker) together.
It works as in the main page appears and I can login. There is no cloudinary configuration and the standard configuration is used.

Feel free to contribute!

Cheers,
ubergesundheit

[2016-04-23 13:30] ubergesundheit opened #127 "Multiple translations for one language"
Hi,

I am wondering if the system can handle multiple translations for one langage? For example in german, one can use the formal way ('Sie') or personal ('Du').
If this is possible, I can create the neccesary file for the personal way.

Cheers,
ubergesundheit

[2016-04-23 15:13] scott commented on #124
Wow nice.  Actually the cloudinary config can now be set through the admin settings UI, so the `.yml` file is a little bit redundant.

[2016-04-23 15:18] scott commented on #127
Rails give you the ability to create any locale type you want... such as formal or personal, or 'pirate' or any other dialect.  However, I don't think browsers understand the difference and to them German is German.  So you could create a personal file and a formal file, and they would be an option, but to have Helpy use it automatically in German areas, you might have to choose one or the other.

[2016-04-23 15:20] ubergesundheit commented on #127
Ok,
what I actually want is: German admins should be able to either select "Formal German (Sie)" or "Personal German (Du)".

I will try out what is possible and will report back!

[2016-04-23 15:28] scott commented on #127
Okay sounds good!  I am not sure how to do that without choosing from the two files, say `formal.de.yml` and `personal.de.yml` and renaming it to just `de.yml` (or creating a link).  That being said, there may be a way to do it.

[2016-04-23 19:14] ubergesundheit opened #128 "pick-a-color-1.2.3.min.css not in concatenated application.css"
After `rake assets:precompile` all style and js files are minified and concatenated.
Except for the file `pick-a-color-1.2.3.min.css`. `application.css` contains the line:
[code]
The issue seems to be the `.css` ending in https://github.com/helpyio/helpy/blob/master/app/assets/stylesheets/application.scss#L28

If I remove the `.css` locally and then run `rake assets:precompile` the file `pick-a-co

[2016-04-23 20:05] ubergesundheit commented on #127
After looking around in the code, I think the easiest method is to manually replace the strings in the `de.yml`
Otherwise, at least two new i18n keys have to be introduced. `short_name` for the language selector on the main navigation and `long_name` for usage in the admin area to differentiate German (Personal) and German (Formal)

Also, my ruby is probably too rusty to write up a patch...

[2016-04-23 20:05] #127 closed

[2016-04-25 15:12] arrowcircle opened #129 "Cloudinary storage alternative?"
Hi!
Thank You for the great project!
Is there are any alternatives to cloudinary? Many people use S3 as well as static file storages.

[2016-04-26 00:03] scott commented on #129
Currently the only option is cloudinary, but there have been many requests for an S3 option.  It is currently pretty low on the roadmap, but if someone submits a PR or builds an add-on that would help get it done quicker.  The challenge is that I think it would introduce a new dependency on imagemagick?

[2016-04-27 07:51] arrowcircle commented on #129
Imagemagick will be required if processing is needed (resize, optimisation).
For server infrastructure is not a problem, it installs with simple apt-get or yum.

Main concern here is to separate cloudinary logic with carrierwave. It looks like carrierwave supports cloudinary. If we move all processing to carrierwave and add storage configuration to storage, we will loose cloudinary requirement.

@

[2016-05-02 04:15] jmarnold commented on #68
Loving all of the work y'all have done so far! Just curious, how in-depth is the API work you have planned? The one killer feature I'm looking around for is Slack integration since my organization thrives on it. Is that anywhere in your plans yet?

[2016-05-02 14:31] scott commented on #68
@jmarnold Slack integration is definitely something I have been thinking of.  Slack integration can mean a few things- are you thinking more of getting alerts in Slack when there is a new discussion, being able to reply to discussions through slack, or both?

[2016-05-02 14:34] CPR43 opened #134 "RailsSettings::CachedSettings is deprecated and it will removed in 0.7.0. Please use RailsSettings::Base instead."
Got this issue while setting up helpy.io on puma with ruby 2.2.4

here is the log :

*** SIGUSR2 not implemented, signal based restart unavailable!
*** SIGUSR1 not implemented, signal based restart unavailable!
*** SIGHUP not implemented, signal based logs reopening unavailable!
Puma starting in single mode...
* Version 3.4.0 (ruby 2.2.4-p230), codename: Owl Bowl Brawl
* Min threads: 0, max thread

[2016-05-02 16:05] scott commented on #134
Can you post your puma config files so I can try to recreate the issue?  It is not clear, did you get it to run?

[2016-05-03 15:03] jmarnold commented on #68
@scott Oh man, I wasn't thinking of going too crazy ;). I was just thinking of some basic notifications. My organization uses Slack as kind of the hub of ALL information so being able to push stuff there would be HUGE.

[2016-05-03 16:41] mbajur commented on #68
Creating a slack integration you described @jmarnold (push notifications) should be pretty simple using rails observers or monkey patching models. Anyway, that's still a monkey patching which is a bad thing. On the other hand, i'm not sure (that's my personal opinion, i'm not part of helpy team) if things like slack integration should be a part of the core. Are there maybe any plans for creating a

[2016-05-03 17:03] scott commented on #68
I agree this is a better thing for a plugin/gem.  I have been working on a plugin system that will leverage engines and deface for adding/modifying the core UI.

[2016-05-03 17:31] scott commented on #126
Hmmm just tried it and it worked fine for me.  I wonder why it didn't work for you.  If anyone else runs into this, please post here!

[2016-05-03 18:10] mbajur commented on #68
You sure about deface? I can hear people complains a lot about it, there is a fork of spree that came up recently which dropped deface support, not sure why though but i kind of trust those guys http://solidus.io/

[2016-05-03 21:16] #128 closed

[2016-05-04 06:50] CPR43 commented on #134
The issue got resolved when  I changed Appsetting.defaults["Key"] to AppSetting["Key"] in default_settings.rb . Its seems _.default_ property is no longer supported in rails -4.2.6 . Thank you for creating such a great help desk system . It's working really well now .

[2016-05-04 06:51] #134 closed

[2016-05-04 11:53] felipewmartins opened #135 "Translate Pt-BR"
Hi Scott,
 I would like translate the project to portuguese(Brazilian).
What do you think?

[2016-05-04 18:34] scott commented on #135
I think that would be AWESOME.  There are a lot of Brazilians that would be happy :)  Currently there is a Portuguese yml file but it is Portugal so I imagine not all the words are the same.

[2016-05-04 20:25] andela-ysanni commented on #126
I got an error too.

[2016-05-05 11:11] felipewmartins commented on #135
Very Good :+1:
I will send a PR with this improvement. :)

[2016-05-06 21:22] #118 closed

[2016-05-08 15:22] Vad1mo commented on #24
I am also interested in this feature. Helpy is using Omniauth that has LDAP support https://github.com/intridea/omniauth-ldap

I am not an Ruby expert but, I surly can help out writing and testing something with AD and JumpCloud.

[2016-05-09 16:23] scott commented on #68
@jmarnold @mbajur Slack integration: [Helpy_Slack](http://github.com/helpyio/helpy_slack)

[2016-05-10 20:46] jmarnold commented on #68
@scott Nice! Thanks!

[2016-05-11 03:10] #81 closed

[2016-05-11 16:40] danblah opened #139 "Mail processor doesn't exist"
Super excited about this project. Thanks for it and apologies if I'm missing something silly. Just deployed 0.9.2-5-g4da5c35 and all is well, having fun but I can't seem to get the mail processor to link. https://help.opentech.fund/email_processor seems to be a dead page. I saw a previous issue where they found the solution but didnt post it. Any love?

I've enabled mailgun in settings.yml and in

[2016-05-11 18:45] scott commented on #139
That url only will respond to a POST request.  Have you tried testing your webhook in Mailgun yet?

[2016-05-11 20:10] danblah commented on #139
Aannnnnnd I got it. Thanks for pointing me in the right direction :)

[2016-05-11 20:10] #139 closed

[2016-05-12 15:25] danblah opened #141 "Account-less submissions?"
Is there a plan for allowing submissions w/o creating an account but still submitting an email address? Maybe using reCAPTCHA as others do?

[2016-05-12 16:07] danblah opened #142 "Cloudinary images are passive mixed content (non-https)"
Seems the Cloudinary img tags are http rather than // and without a Content-Security-Policy not getting upgraded.

[2016-05-12 21:45] scott commented on #141
This make a lot of sense.

[2016-05-14 19:04] scott opened #146 "Failed login does not generate a meaningful error message"
A failed login should generate a meaningful error message.  Currently this is not the case, the user is redirected to the login screen with no indication of the problem.  Ideally the error message would be rendered without having a redirect.

[2016-05-14 19:08] scott opened #147 "Upvoting topic on the Idea Board and Q&A forum layout does not increment counter"
It actually does increment the vote correctly, but the increased counter is not rendered to the screen.

Examples:
http://demo.helpy.io/en/community/6-idea-board/topics
http://demo.helpy.io/en/community/4-questions-and-answers/topics

It does work correctly on the table layout:
http://demo.helpy.io/en/community/5-feature-requests/topics

[2016-05-16 04:15] #135 closed

[2016-05-16 16:29] Nondv opened #151 "[Locales] key :i18n"
[Screenshot](http://s32.postimg.org/fsa34ii8l/2016_05_16_19_22_10.png)

There're conflicts with `rails-i18n`. If you dig `I18n.config.backend` for translations you will find that there're hashes (!) in `@translations[<locale>][:i18n]`. I am not that competent to say what is that, but it generates also by [this file](https://github.com/svenfuchs/rails-i18n/blob/master/lib/rails_i18n/common_pluraliz

[2016-05-16 16:32] Nondv commented on #151
Created [pull request](https://github.com/helpyio/helpy/pull/152).
Just renamed i18n to international

[2016-05-17 02:33] #151 closed

[2016-05-17 02:43] scott opened #153 "After submitting a new topic on the support site, a message should be displayed instead of just prompting to login"

[2016-05-17 13:10] #146 closed

[2016-05-17 16:12] scott opened #156 "The more link on the QNA view is not working"
See image, it should expand the text:

![screen shot 2016-05-17 at 10 07 50 am](https://cloud.githubusercontent.com/assets/14369/15329935/e159667a-1c17-11e6-92b8-4cf25f3be5eb.png)

[2016-05-17 16:16] #147 closed

[2016-05-18 00:35] scott opened #157 "Add recaptcha to topics/new view if not logged in"
The `topics/new` view has a different experience depending on whether the user is logged in or not.  If they are not logged in, a private discussion is created automatically, along with a user account.  If they are logged in, they can choose between a private and public discussion.

Current logged out experience:
![screen shot 2016-05-17 at 6 05 09 pm](https://cloud.githubusercontent.com/assets/14

[2016-05-18 00:38] scott commented on #141
#157

[2016-05-18 00:38] #141 closed

[2016-05-18 00:41] scott commented on #65
This is now handled through the admin settings inside of Helpy

[2016-05-18 00:41] #65 closed

[2016-05-18 00:46] scott opened #158 "Extract Widget into an Extension?"
I have been thinking that the javascript widget really should be provided as an optional extension, curious what others think of this idea.  My reasoning is that it is not functionality everyone may want to use, and furthermore I envision a future where you may be able to select between multiple widgets- simple KB oriented ones vs. full fledged chat oriented.

[2016-05-18 11:40] jprberlin commented on #158
I think this is a good point. In an university project my class developed something similar using a Polymer Component. We also supported OAUTH2 there, so the widget can run in the scope of the authorized user. But this requires using polymer, so this is not a good solution i would recommend to use "in the wild" yet. Just mentioned it because it could be a long term vision.
But adaptability and ext

[2016-05-18 20:30] #153 closed

[2016-05-19 08:00] shaktikatare1989 commented on #157
Hi scott,

I have two questions.
1) from where site-owner decides not to use recaptcha.
2) when any user create new topic by using recaptcha, how we build that user without its email and name?

Please let me know your thoughts.

[2016-05-19 10:44] jprberlin commented on #156
Wasn't this solved by a PR?

[2016-05-19 13:32] scott commented on #157
1- That is in the admin settings of Helpy- `app/views/admin/settings/settings.html.erb`
2. Oops! It should have the email and name fields from above.  I have updated the mockup to show this.

[2016-05-19 15:30] scott commented on #156
Yes you are right, the issue did not automatically close, so closing it now....

[2016-05-19 15:30] #156 closed

[2016-05-20 09:12] shaktikatare1989 commented on #157
I have created a PR https://github.com/helpyio/helpy/pull/164, Please review and let me know your thoughts.
Thanks!

[2016-05-20 15:25] crcinf opened #165 "Need attachments access in view"
Hi scott,

I have one question.

when any user create new topic its generate a ticket and in admin view show me a message text of email send to me with attachments, but i dont get attachments access. There is a one form to do this?

Thanks in advance.

[2016-05-20 19:41] scott commented on #165
Currently the attachment feature is limited to image files and pdf, so they can display in the browser window.  Just to make sure I understand, you are thinking there should also be a list of files in the admin view to be downloaded.  Ideally this would encompass other file formats as well, if they were supported?

[2016-05-20 20:02] crcinf commented on #165
but in test here dont show the pdf file in the topic in admin. the email_processor dont proccess the attachments send via incoming email via hook ulr post json by postmark service...

[2016-05-20 20:45] crcinf commented on #165
i understand that you explication, in my test here uploaded pdf or jpg working in view how do help you? but when send email via browser dont show in view admin below question user did in ticket.

[2016-05-20 21:24] crcinf commented on #165
example in  view: in the file _thumbnail.html.rb load attachment done via button choose by users, but send file via email dont load in the thumbnail.

[2016-05-20 21:49] scott commented on #165
Yes currently it does not pick up attachments from email.

[2016-05-20 22:15] crcinf commented on #165
and how i add this feature?

[2016-05-23 10:33] arrowcircle commented on #129
Also, its possible to easily move support of custom storage to s3 only, and for local storage use https://github.com/minio/minio project

[2016-05-24 06:06] celevra opened #166 "mysql support"
Hi,

thank you for the great product!
will there be mysql in the near future?

regards

celevra

[2016-05-24 20:25] #122 closed

[2016-05-25 03:52] scott opened #169 "Refactor forms to use client side validations"
Many forms on the site could be improved by implementing client side validations.  This can be done fairly easily using the `client_side_validations` gem, although on Helpy forms currently use the `bootstrap_form` gem, for which there is no adapter.

This gives two options- write the adapter for the bootstrap forms gem, or switch it out for the `simple_form` gem where needed.  I have made this cha

[2016-05-26 14:11] scott opened #170 "Github oAuth not working when email is not present"
It appears that github may not always be sending an email address, which is causing the login by oauth to not work.  Also, twitter oauth never sends an email and currently Helpy uses a cheap workaround which needs to be properly handled by asking the user to provide their email address.

Some more information on this here: http://stackoverflow.com/questions/35373995/github-user-email-is-null-despi

[2016-05-26 21:42] gdeflaux opened #171 "Are you planning to release an official Docker repo?"
This would be great! Thanks!

[2016-05-27 01:26] scott commented on #166
Hi @celevra at this point Helpy makes use of full text search from postgres, so adding support for mysql is not going to be super easy- it will require some changes... if someone wants to go ahead and do this work I would support it, but its not on my roadmap at this point.  Probably someday though.

[2016-05-27 01:31] #166 closed

[2016-05-27 01:35] scott commented on #165
Hi @crcinf sorry for the slow reply.  It would take some work for sure.  I would start by looking at the documentation for Griddler and see if there is a way to grab the attachments and then feed them straight to cloudinary or S3.  Can you help with this?

[2016-05-27 17:32] crcinf commented on #165
hi @scott, i am so glad for your attention, i am sure that is the path to the success(griddler), so i did search too in the documentation of gem griddler-postmark, but my knowledge in rails are yet so bad, but i hope when you would can develop this feature.

[2016-05-28 01:41] eddively commented on #125
@brianjking how does it run on the free tiers?

[2016-05-28 01:42] eddively commented on #39
How is performance on the free Heroku tier now?

[2016-05-28 18:48] #142 closed

[2016-05-28 19:16] #126 closed

[2016-05-28 19:16] #170 closed

[2016-05-28 19:17] #157 closed

[2016-05-30 19:20] brianjking commented on #125
@eddively I'm not sure, I've only ran [Cachet](https://github.com/CachetHQ/Cachet) via Openshift on the free tier. However, I would guess it would run fine.

@scott any updates on if this will move forward?

Thanks!

[2016-05-31 08:04] brasilikum opened #175 "Live search"
Do you plan on adding Live-search to the helpdesk?
I think this would be very valuable as users could immediately see their problem if it is already known.
Also it would prevent the problem that users enter search terms that are too specific and end up not finding the right soution.

[2016-05-31 14:49] brasilikum opened #176 "Make search case-insensitive"

[2016-06-02 04:45] shaktik1989 commented on #169
I havev added a https://github.com/helpyio/helpy/pull/173 PR regarding this. Please review.

[2016-06-02 10:05] Nondv opened #180 "Seeds required before expluatation Helpy"
Hello there!
Sorry for my english. I hope you will understand.

[This](https://github.com/helpyio/helpy/blob/master/app/controllers/admin/topics_controller.rb#L81) smells bad and causes troubles.

Steps:

1) We installed Helpy but **forgot about seeds**.
2) We created test forum.
3) Then we had some troubles (internal server error) that were solved by rake db:seed.
4) Now we can't create ticket vi

[2016-06-07 18:08] #169 closed

[2016-06-07 18:13] scott opened #185 "client side validations not catching missing category_id on new/edit"
This was not working quite right after #169

The doc edit and create form is not validating that there must be a selection from the dropdown menu.  If the user does not pick a category, the form gets submitted and the server side validation catches it, but the client side validations should show an error here:

![screen shot 2016-06-07 at 12 12 38 pm](https://cloud.githubusercontent.com/assets/143

[2016-06-08 23:02] scott opened #187 "Devise emails are not using translations provided by devise-i18n gem"
The templates need to be updated to use the i18n strings.

[2016-06-09 21:39] #187 closed

[2016-06-11 13:06] Rynaro commented on #129
I have my own version of Helpy, running inside the company that I works.
I've made several changes inside Helpy to accept local storage file managing, and the only problem I faced, is the conflict with Cloudinary vendor Javascripts, conflicting with remotipart features.
I needed fully remove the Cloudinary, to my changes works as well.
PS: I remove Cloudinary feature because my company has a own f

[2016-06-11 13:18] Rynaro commented on #180
Seeds provides a initial database configuration, if you don't run seeds first time, the database is incomplete in some features.
The `Forum.find(1) `, is a internal state of private messages. But, Helpy is your friend, you can make your own configurations inside the seeds to make your Helpy instance working with your needs.
I think maintain Forum id 1 as a private state is a best practice, because

[2016-06-13 15:38] scott commented on #129
@Rynaro it would be awesome if you could package your work up as a PR with a config switch, and make it s3 compatible.

[2016-06-14 15:13] #185 closed

[2016-06-14 15:15] #175 closed

[2016-06-16 02:14] scott opened #196 "Add simple_form and client validations to change password, forgot password pages"

[2016-06-16 02:25] scott opened #197 "Add checkbox to reply admin interface to "reply and close" topic"
- The checkbox should be unchecked by default
- When an admin checks the box, it will post the response to the thread, and then change the topic to "closed".
- The system should also post an internal note to the thread indicating that the topic has been closed. (This is standard when closing topics.)
- Please include a controller spec for the behavior
- Use an i18n token for the text "Mark as reso

[2016-06-18 15:36] shaktik1989 commented on #196
I have created pull request for forgot password. I have also notice that client validation is already there for change password.

[2016-06-19 01:47] scott opened #200 "Add ability for admins to bulk invite agents"
In the admin control panel, we need a way to bulk invite a team of agents.  This should appear as a new panel in the settings area.

I suggest using the devise invitation strategy: [https://github.com/scambra/devise_invitable](https://github.com/scambra/devise_invitable)

Ultimately this should probably go into the onboarding as well, but during the onboard there is no guarantee of outgoing email

[2016-06-19 20:51] MVprobr opened #201 "Sandstorm Vagrant Package"
Good afternoon,

Today I would like to present the Sandstorm, since I met I realized that would be the future. Sandstorm is an open source operating system for personal and private clouds, easy to deploy and manage apps.
And I believe that with community efforts can easily launch the package.

Some interesting links:
Link to the Sanstorm - https://sandstorm.io/
Link to the Sandstorm Vagrant SPK do

[2016-06-28 15:06] JonathanKryza opened #205 "Elements and thread missing when submitting internal note"
After submitting an internal note, the original thread/message is not accessible. Also, the dropdown menu is blocked by the element below. (See gif)

https://dl.dropboxusercontent.com/u/1746820/Helpy_InternalNote.gif

Firefox 47.0.0

[2016-06-28 16:33] scott commented on #205
Thanks for providing this report!  I am aware of the dropdown menu issue if the content of the post is too small.  The other one is not something I am familiar with and will look into.

[2016-06-28 22:22] scott commented on #205
By the way, what software/tool did you use to create that .gif?

[2016-06-28 22:25] scott opened #206 "Knowledge base left menu is not showing articles ranked"
The left menu of the knowledge base is not showing articles in the correct ranking as set in the admin.

[2016-06-28 22:57] JonathanKryza commented on #205
https://github.com/justinfrankel/licecap

[2016-06-29 01:56] JonathanKryza opened #207 "support.helpy.io - Setting up your Helpy installation to send and receive email"
http://support.helpy.io/en/knowledgebase/11-Installing-Helpy/docs/14-Setting-up-your-Helpy-installation-to-send-and-receive-email

Postmark web address should be www.postmarkapp.com

www.postmark.com leads to an evite site.

[2016-06-29 16:56] scott commented on #207
Thanks for reporting!

[2016-06-29 16:56] #207 closed

[2016-06-29 20:59] scott commented on #205
I have not been able to reproduce the disappearing thread bug, can you send a nifty gif of what you are seeing?

[2016-06-29 21:04] #197 closed

[2016-06-29 21:55] JonathanKryza commented on #205
It seems that it only happens with the discussion #2 - About Helpy.

#1 and the test discussion I started acts correctly(collapsible message
thread).

https://dl.dropboxusercontent.com/u/1746820/Discussions.gif

It may just be an issue with that particular discussion thread.

-Jonathan Kryza

On Wed, Jun 29, 2016 at 3:59 PM, Scott Miller <notifications@github.com>
wrote:

[2016-06-30 21:23] scott commented on #205
Okay I figured it out.  You actually click on a different ticket in the video you showed, which gives the appearance of the thread disappearing.  However, there is still a problem with one of the "filler" messages- #2 does not have an original message, it is only a reply which is an error in the way it is generated.

So bottom line, the underlying system is fine, the bug exists in the sample messa

[2016-06-30 22:08] #206 closed

[2016-07-01 01:00] Rynaro opened #216 "Refactor views using decorators, presenters"
I really see much logic in views, that makes code ugly, and probably in future, with some adjustments and new implementations, will make the code harder to work.
In my personal projects, I usually uses decorators, presenters, and sometimes "fat" helpers.
What the Helpy team think about refactoring views logic? The Helpy code works, but, we need to see the future of our code today. :smiley:

[2016-07-01 14:39] pilap82 opened #218 "Support pasting an image from clipboard"
If I have an image in my clipboard and paste it in the Trix editor, it will be displayed but not saved.

Is that expected? If so is there any plan to persist images added this way?

Thanks, Pierre

[2016-07-01 18:36] scott commented on #218
Thanks for reporting this.  It does not sound like the intended behavior.

[2016-07-01 18:41] scott commented on #216
I am open to refactoring.  I know the view code is messy but like you said "it works" right now, so refactoring has not been a high priority.  If you want to submit some PRs though, that would be great!

[2016-07-01 21:36] scott commented on #205
This should now be fixed on new accounts.

[2016-07-01 21:36] #205 closed

[2016-07-03 07:29] olliebennett commented on #39
Hey @pepjo - if the "quota exceeded" errors have not been showing in the latest code, do you think we could close this issue? Thanks!

[2016-07-06 18:33] puggan opened #221 "imap support"
ability to fetch inbound email using imap(s) would be nice

[2016-07-06 19:00] scott commented on #221
Thanks, we have this in a branch currently.  I expect to be merging it in soon.  Take a look at PRs from @jprberlin .

[2016-07-06 19:00] #180 closed

[2016-07-06 19:02] #39 closed

[2016-07-08 02:39] TechRsch commented on #134
I just cloned this gem and found that I had to make both the changes documented here.  That is to change CachedSettings  to Base to eliminate the deprecation warning.  And, more importantly, to update default_settings.rb to change Appsetting.defaults["Key"] to AppSetting["Key"].  Without that change, it failed as documented above.  This occurred with Unicorn and I have not changed its configuratio

[2016-07-08 13:20] scott commented on #134
Another way to resolve this is to move the version back like this.  In fact I am going to push this up to master today to resolve this for now.  We still need to do some work to support the newer versions of this gem.

`gem "rails-settings-cached", '~> 0.5'`

[2016-07-08 16:38] scott opened #222 "Move bulk operations to background worker"
Currently if you select a bunch of messages and perform a bulk action, it is really slow.  This should be offloaded to a worker.

[2016-07-08 20:13] pepjo commented on #39
Sorry! yep, alright now :)

[2016-07-09 09:05] iamrahulroy commented on #216
@scott I would love to help out with this. How would you like to improve it? using decorators with gems like `draper` or presenters with an approach similar to this? [http://railscasts.com/episodes/287-presenters-from-scratch](http://railscasts.com/episodes/287-presenters-from-scratch)

I'm sure some views requires more attention than the others, so it would be if you can let us know where to get

[2016-07-12 01:15] connorshea opened #224 "Rails 5"
I wanted to suggest upgrading Helpy to Rails 5, or at least get a conversation started about it.

I've been keeping track of our progress getting to the upgrade at [GitLab](https://gitlab.com/gitlab-org/gitlab-ce/issues/14286), figured you may find all my notes useful :)

Some notes based on a quick look through your Gemfile:

- Devise needs to be upgraded to 4.0+
- quiet_assets can be replaced by

[2016-07-12 02:17] scott commented on #224
Thanks Connor,  your tracking of this is really appreciated.  I have been tracking Globalize since thats a really big blocker for us to go to Rails 5.  I plan to start an official branch where we can start to work out the upgrade.

[2016-07-12 02:27] scott commented on #222
Hi @shaktik1989 I didn't have time to write up any additional requirements of the API work yet, but you can take a look at this issue instead.  If you look in https://github.com/helpyio/helpy/blob/master/app/controllers/admin/topics_controller.rb

There are actions for changing assignee, privacy, status, etc.  This provides the ability to update the status of one (or a group of) discussions.  They

[2016-07-12 04:27] connorshea commented on #224
:+1: to my knowledge we're the largest open source Rails app and have somehow managed to not fall behind on Rails releases, so I figured it'd be useful to track the progress in-depth for everyone else to learn from :)

Feel free to ping me if you run into any problems, I might be able to help - or at least know to look out for the problem in GitLab!

[2016-07-12 09:46] arrowcircle commented on #129
@Rynaro Any updates?

[2016-07-12 17:14] olliebennett commented on #222
Would it be more appropriate to improve the performance of the queries involved instead? Seems that moving to a background worker is just working around the fact we're doing inefficient things, and also leads to potential discrepancies between front and back-end if the UI updates without confirmation that things have changed server-side (i.e. if the job fails).

To take your `admin/topics_controll

[2016-07-12 17:29] scott commented on #222
I agree I think there are some opportunities there for refactoring and making it more performant but I suspect it will still be slow enough to warrant delaying it when there are a large number of messages being acted on all at once.  This is because some/all of the actions do add a new `Post` to each`Topic` so you could in theory have 20+ insert statements.

However you gave me another idea now th

[2016-07-12 17:33] scott opened #225 "Move Google Analytics calls to background worker?"
Need to check how feasible this is, but the backend of Helpy uses  many server side MP (measurement protocol) calls to GA.  Moving these to workers should be easy and could yield a nice speed up.

[2016-07-12 18:54] scott commented on #222
#225

[2016-07-12 18:55] scott commented on #222
Just tested this and moving just the GA call to a worker cut the action load time by about 50%.

[2016-07-12 19:58] olliebennett commented on #222
Awesome! Nice job - because it's inside a loop it would also make sense to build the list of GA events and fire them all at once; not sure whether the logic we're using supports that though.

Do you want me to take a look at other performance improvements for this or @shaktik1989 are you keen? Either way - great progress if you've already shaved 50% off, so hopefully it's possible we can still avo

[2016-07-12 20:02] olliebennett opened #226 "Remove "RandomUser.me" API calls"
This seems like an unnecessary gem, and a possible point of failure in the `seeds.rb` file. It seems that's the only place it's used. Given we already use the `faker` gem, would you be okay with removing the `ruser` gem dependency?

Note: Since #30 I know it's no longer such a heavy dependency, but think it's worth deleting anyway.

[2016-07-13 11:49] hadifarnoud opened #227 "right-to-left language support"
does helpy support RTL? if so, I can add Persian translation.

[2016-07-13 12:58] hadifarnoud commented on #227
if someone explain in details how can I add RTL support myself (like checking for language and if it's RTL load certain css file or load certain email templates), I can add RTL support too

[2016-07-13 19:12] scott commented on #227
Hi @hadifarnoud it does not support it currently but it definitely should.  I will try to look into the details of how to do it and update this thread.  If anyone else has experience with this, any help would be appreciated.

[2016-07-13 19:14] scott commented on #226
I don't think this is used in the `seeds.rb` file, am I wrong?  It is used in `populate.rb` where it is definitely not mission critical, but needed to create the fake data used on the demo site.

[2016-07-14 12:53] shaktik1989 commented on #222
Thanks @olliebennett for your thoughts on this, I just got the time to read the whole conversation and I will definitely like to work on the points that you raise and surely appreciate your review feedbacks on the PRs.

[2016-07-14 23:15] olliebennett commented on #125
I like the idea of having this be "always-on" for free (unlike Heroku), so I've had a bash at this in #229.

[2016-07-16 07:52] olliebennett commented on #224
Great - thanks for kicking this off, @connorshea.

@scott it may be worth setting up a GitHub milestone for this. Until then, I'll track the related PRs here:

#230 - Update 'rails' and dependencies to 4.2.7

[2016-07-16 08:15] olliebennett opened #233 "Update acts-as-taggable gem for Rails 5"
This gem is not currently compatible with Rails 5.

Apparently [this PR](https://github.com/mbleigh/acts-as-taggable-on/pull/720) (which is merged) should resolve the issues, although it's not yet released on RubyGems.

[2016-07-16 08:46] olliebennett opened #237 "Update 'globalize' gem for Rails 5"
The [globalize](https://github.com/globalize/globalize) needs a release to support Rails 5.

[2016-07-16 18:30] scott commented on #224
As you can see, I set up a milestone.  I will start to tick off these PRs as time allows.  Most hopefully most will go in fairly easily.

[2016-07-16 21:09] scott commented on #237
It looks like if you use `master` it will work- see https://github.com/globalize/globalize/issues/527

[2016-07-16 21:24] olliebennett commented on #237
Yup; just waiting on a release - I think it would be best to avoid pointing `Gemfile` to master, although I'll do that in the Rails 5 PR so we can see what else breaks while we wait for a release.

[2016-07-16 21:41] scott commented on #237
yeah thats what I was thinking too.

[2016-07-16 21:43] #225 closed

[2016-07-18 08:49] skatkov commented on #218
I time to looks into this. There are two ways to go with this:
- disable this feature in trix
- or configure it to work with cloudinary

As far as i understand, second option is prefered. So i'm looking into cloudinary codebase for now, never worked with it before.

[2016-07-18 13:24] hadifarnoud commented on #227
you can count on me for templates and css edits and test. if you sort out how you add styles/change templates in the app, I can do the rest.

[2016-07-18 16:22] connorshea commented on #224
@scott @olliebennett with Devise you can just update to 4.0 for now, which has Rails 5 support and just a deprecation warning for the omniauth change.

See https://github.com/plataformatec/devise/pull/3985

[2016-07-18 16:24] connorshea commented on #224
You'll also need to upgrade the Gemfile to use at least Ruby 2.2.2 (right now it's 2.2.1), I'd recommend the latest patch release in the 2.2 series.

[2016-07-19 15:33] scott commented on #224
Thanks @connorshea

[2016-07-19 15:35] scott commented on #227
Okay give me a few days to start checking into it.  I have a couple questions for you- Helpy makes use of some center aligned text- how is this handled in RTL?  Just curious...

[2016-07-19 15:37] scott commented on #218
Yes, take a look at attachinary as well, we make use of that for drag and drop uploading.

[2016-07-19 15:59] hadifarnoud commented on #227
it's not only the alignment of text. if you mix the English and Arabic, the text would mix up. the solution is `direction: rtl` in css. that changes the direction of the text and help fix the issue.

for doing a proper RTL support. the styling must be in a separate css file (like rtl.css) and load it if language is set to Arabic/Persian for example.

for email templates, I think we can have a sepa

[2016-07-20 13:42] scott commented on #227
Okay this sounds fairly easy then.  Helpy looks at a URL param to determine what language to use, so it sounds like we could just switch the CSS using that if there is not a more elegant way.  The only tricky area is themes.  Helpy also supports multiple themes, which have their own CSS sheets, so we would need to be clear about which themes support RTL and which do not...

[2016-07-20 13:50] scott commented on #227
I also found this [https://github.com/morteza/bootstrap-rtl](https://github.com/morteza/bootstrap-rtl) for bootstrap which should help with the CSS, since most of Helpy uses fairly standard bootstrap CSS

[2016-07-20 16:36] scott opened #245 "Verify bulk_insert works correctly in Rails 5"
@shaktik1989 is investigating using [https://github.com/jamis/bulk_insert](https://github.com/jamis/bulk_insert) to optimize bulk operations.  We will want to make sure it works correctly in Rails 5 once this change is merged in.

[2016-07-20 21:41] connorshea commented on #224
Also worth looking at [rails5-spec-converter](https://github.com/tjgrathwell/rails5-spec-converter) gem, because [this change](https://github.com/rails/rails/pull/18323/) may cause a lot of deprecation warnings otherwise.

[2016-07-21 08:37] hadifarnoud commented on #227
sounds good scott. what about email templates? they need to be RTL too.

would you push this so I can get on adding more RTL style to fix Helpy default theme?

[2016-07-21 15:12] scott commented on #227
Great work on the translation!  I have added a branch/pr that includes the beginnings of the RTL support, and actually it seems to have gotten farther than I expected.  See #249

[2016-07-21 15:13] scott commented on #227
I commented this and a few other things in the PR, but this will give you an idea of what it looks like, in English though.

![screen shot 2016-07-21 at 8 58 27 am](https://cloud.githubusercontent.com/assets/14369/17027985/4739b740-4f23-11e6-900e-5e924c3e30b8.png)

[2016-07-21 15:35] hadifarnoud commented on #227
this looks promising. I'll fix the remaining styling issues. btw, I think the ISO code for Persian is `fa`. I could be wrong though

[2016-07-21 15:43] scott commented on #227
Yes, notably I see the upper header should be reversed, and some other spacing.  I looked at the email templates too, I am guessing the text templates will just work.  The html templates will probably need a style change to get them going RTL although even there I am not sure, I think it may depend on how the email client interprets it.  The text strings are just in standard `<p>` tags.

[2016-07-21 18:33] olliebennett commented on #222
Referencing Shakti's work on refactoring the `TopicsController` (bulk assign agent): #238

[2016-07-21 20:09] olliebennett commented on #245
Cool, will make sure I check after #238 is merged.

[2016-07-22 17:17] gdeflaux commented on #24
+1 on LDAP support

[2016-07-22 22:27] scott opened #255 "If Helpy receives a blank email with attachments, the attachments are not saved"
This is definitely an edge case, but when Helpy receives a blank message with one or more attachments, the blank message appears to be captured, but the attachments do not.

[2016-07-25 13:16] scott opened #258 "Update setting.yml message when parent_site is not set"
This should make a reference to the admin settings as well, or maybe we should just hide the link if the setting is not available.

[2016-07-26 10:26] hadifarnoud opened #260 "rake tasks failing"
`rake assets:precompile` gives `fatal: Not a git repository (or any of the parent directories): .git` error. I've tried every suggestions online but still could not fix it

even with `-v` it doesn't give me anything more.

[2016-07-26 10:29] olliebennett commented on #260
Hey @hadifarnoud - it sounds like you've got a corrupted `.git` directory or something, rather than anything to do with the helpy code itself. Can I suggest you `git clone` helpy into a different directory (temporarily) and see if you can run the `rake` task there? I've check on `master` just now and it's working fine for me.

[2016-07-26 11:39] #260 closed

[2016-07-27 20:17] #227 closed

[2016-07-28 02:07] Rynaro commented on #129
@arrowcircle , I'm sorry about the lacks of updates. I'm very busy in these days.
Now, I adjusted my time, and I will maintain you updated of my work about this issue.
Again, I'm so sorry.
---
@scott , is interesting to Helpy has this feature to switch the file storage server?

[2016-07-29 13:59] hadifarnoud opened #262 "how to delete a user?"
how can I delete a user? I added an 'Editor' and due to email settings, invitation wasn't sent. how can I delete that user or resend the invitation?

[2016-07-30 07:35] hadifarnoud commented on #262
nevermind, I used `rails console` to delete them manually. to others who might have same issue:

`y User.all # find the user you want`
or
`y User.all(:conditions => {:firstname => 'Hadi'}) # use hash conditions`
or
`y User.all(:conditions => "lastname LIKE 'Farn%'") # use custom sql conditions`
and having the right user (say, id 42), you can do

`User.delete(42)`

that 'y' in the beginning prints

[2016-07-30 07:35] #262 closed

[2016-07-30 20:16] scott opened #263 "undefined method `truncate_words' for nil:NilClass"
Still seeing these two errors on some searches:
http://support.helpy.io/en/result?utf8=✓&q=logs

[code]
[code]

[2016-08-02 03:57] connorshea commented on #233
4.0.0 is out now: https://rubygems.org/gems/acts-as-taggable-on

[2016-08-02 15:27] #196 closed

[2016-08-02 15:27] #200 closed

[2016-08-02 15:28] scott commented on #218
@skatkov Any updates on this?

[2016-08-02 15:56] #222 closed

[2016-08-02 16:43] #255 closed

[2016-08-04 15:02] scott opened #267 "Devise emails are not using the correct from address"
It appears that the reset email and other devise messages are not using the from address/reply to address configured within AppSettings.

[2016-08-04 15:08] JonathanKryza opened #268 "Knowledge Base - undefined response"
When answering the "Did this solve your problem?" at the bottom of an article, "undefined" pops up to the right of "GREAT!"

![screenshot 2016-08-04 at 10 04 28 am](https://cloud.githubusercontent.com/assets/3247900/17407009/58c37eac-5a2b-11e6-9d2d-771587208545.png)
![screenshot 2016-08-04 at 10 04 41 am](https://cloud.githubusercontent.com/assets/3247900/17407017/5f988484-5a2b-11e6-81ea-051015a7c

[2016-08-04 15:16] scott commented on #268
Thanks Jon, that should be easy to fix.

[2016-08-04 23:32] #258 closed

[2016-08-04 23:32] #263 closed

[2016-08-04 23:32] #267 closed

[2016-08-04 23:58] scott opened #270 "Reset password page does not use chosen theme"

[2016-08-05 08:23] hadifarnoud opened #271 "RTL support in email templates"
We have to do RTL thing for email templates as well. should we just have a different templates for RTL languages or it's easier to add necessary inline css via a helper method?

<img width="482" alt="screen shot 1395-05-11 at 9 43 39 am" src="https://cloud.githubusercontent.com/assets/589808/17284055/8987f02e-57cc-11e6-8708-a376e34f37a9.png">

[2016-08-05 08:24] hadifarnoud opened #272 "emails are still in english even though locale is set to `fa`"
ticket reply emails are still in English even though I changed default locale to Persian.
<img width="482" alt="screen shot 1395-05-11 at 9 43 39 am" src="https://cloud.githubusercontent.com/assets/589808/17284055/8987f02e-57cc-11e6-8708-a376e34f37a9.png">

[2016-08-05 21:13] scott commented on #272
Seems like a bug, I will look into it.  Obviously this should not be the case.

[2016-08-05 21:15] scott commented on #271
Thats a good question.  Let me try dropping in the helper method or a similar one to switch the `p` tags to rtl.

[2016-08-06 00:45] codatory opened #274 "Resolved ticket email does not include the response"
[code]

The message is missing from the email in the default configuration.

[2016-08-06 01:50] scott commented on #274
I am not sure I understand what you mean by "the default configuration" but regardless I don't think this message should be sent out because it is an internal note.  The code below was put in place with a commit on July 16.  Are you  up to date with master?  If so, we may need a `after_commit` in place of the `after_action`.

This is the method and hook in `admin/posts_controller.rb`:

[code]

[2016-08-06 02:02] #40 closed

[2016-08-06 02:02] #61 closed

[2016-08-06 02:49] #268 closed

[2016-08-06 03:03] scott commented on #272
I couldn't reproduce this yet, can you tell me which languages are turned on (I assume just `fa`) and which you have selected from the default locale dropdown in the settings panel.  Also if you could include the `I18n.available_locales` line from `production.rb`.

Helpy does a little algorithm to try to remember your locale when you create a discussion in the first place- so if you had your brows

[2016-08-06 10:17] hadifarnoud commented on #272
`config.i18n.available_locales = [:en, :es, :de, :fr, :et, :ca, :ru, :ja, :hi, 'zh-cn', 'zh-tw', 'pt', :nl, 'tr', 'pt-br', :fa]`
my browser locale is English. is there anyway to override this? if the user is inside /fa, that should be the default language. Most of us use English as default locale on our browser.

[2016-08-08 13:46] scott opened #276 "Add ability to backup to CSV/import from CSV for backing up an entire Helpy"
This feature will allow admin level users to create and download a full backup of their data in CSV form.  The UI should present an interface for choosing to backup just categories/docs, or include users/forums/topics/posts as well.  There should also be an import/restore function that lets admins pick a file to restore it.

We will add more requirements here as time goes on, but to start:
- [ ] C

[2016-08-08 13:48] scott commented on #276
This branch may be helpful- https://github.com/bolser/helpy/tree/dev/helpjuice-importer

[2016-08-08 16:59] scott opened #278 "Login flash message displays twice on light and flat themes"
The login message appears twice on these two themes, which use a slightly different view for login.  See the example below:

![screen shot 2016-08-08 at 10 58 04 am](https://cloud.githubusercontent.com/assets/14369/17488539/18f7829e-5d57-11e6-943f-a4adfa5b9dbd.png)

[2016-08-10 16:20] connorshea commented on #224
Also with regards to Devise, here's how we fixed the deprecation warnings: https://gitlab.com/gitlab-org/gitlab-ce/merge_requests/5331

[2016-08-10 22:00] scott opened #281 "Refactor doc comment creation to docs_controller.rb"
Currently this is handled in `topics_controller.rb#create` and is super messy.  It would be best to just extract the comment creation into its own method in `docs_controller.rb`.  There are some tech debt notes about this surrounding a hack in `topics_controller.rb` and some existing refactors from @shaktik1989 that can be integrated into this.

See #181

[2016-08-10 23:17] scott opened #282 "Waiting for Client Side Validations"
https://github.com/DavyJonesLocker/client_side_validations/issues/645

[2016-08-11 14:20] felipewmartins commented on #278
Hi Scott,
 This error is occurring on master branch? I could not simulate. :/

[2016-08-12 14:42] connorshea commented on #282
Which is in turn waiting on Sinatra: https://github.com/sinatra/sinatra/issues/1135

[2016-08-12 15:22] connorshea commented on #224
After a bit of sleuthing it also looks like you'll need to upgrade devise_invitable for Devise 4.1/4.2 support, though 4.0 is fine on the current version: https://github.com/scambra/devise_invitable/blob/master/CHANGELOG

[2016-08-12 15:25] connorshea opened #287 "Lock Turbolinks version"
When upgrading to Rails 5 you may end up upgrading Turbolinks to v5, which would be problematic since there are tons of breaking changes.

For now I'd recommend locking the version to `~> 2` in the Gemfile.

[2016-08-13 21:45] scott opened #291 "Change snippet for widget"
Should define the global object, something like this will work:

[code]

[2016-08-13 21:52] scott commented on #287
Do you think for now, we should also update the gem name to reference `turbolinks-classic`?

[2016-08-13 22:22] scott commented on #271
I got this working correctly on the regular mailers.  Still not getting RTL on the devise mailers...

[2016-08-13 23:21] scott commented on #105
#289

[2016-08-14 01:00] scott opened #292 "Helpy needs to observe time zones"
This has never been a huge issue because of the way times are displayed in a relative form (i.e.... 30 minutes ago.)  However, with reporting #289 #106 this is an issue.  We need to collect a time zone setting for users- maybe just agents, but it might make sense to just include all users.

[2016-08-14 01:43] #270 closed

[2016-08-14 01:43] #278 closed

[2016-08-14 01:43] #291 closed

[2016-08-14 02:36] connorshea commented on #287
@scott I don't think turbolinks-classic is an actual gem, is it?

[2016-08-14 06:04] hadifarnoud commented on #271
aren't they under app/views/devise/ ? it seems like a normal html template. btw, you can add RTL styles to `<p>` tags too. just need both `direction:rtl;` and `text-align:right;`

[2016-08-15 03:31] scott opened #295 "Locale page should not show on themes/mobile if only one locale is selected"

[2016-08-15 10:04] olliebennett commented on #292
Sounds good. Our implementation uses the following:

[code]

[2016-08-15 14:10] scott commented on #292
Thanks for the suggestion- looks pretty similar.  In the PR I set the default in the `User` to 'UTC' so I am not sure we need to explicitly set the variable.

[2016-08-16 17:30] scott opened #297 "Update German translation"
The German translations have become a little out of date and there are a number of strings that need some translation love.  If you are a German native speaker, we need your help!  Please submit a PR or reply to this topic with the missing values.  The untranslated strings are currently commented in the file:

`config\locales\de.yml`

[2016-08-16 17:32] scott commented on #271
I think this is fixed now.  The issue was that getting the user locale to the template was not working because of the way the Devise mailer works, so I finally just created a `.fa` version of the mailer that uses `<div dir=rtl>` around the email body.  Do you think this will work reliably?

[2016-08-16 17:33] scott commented on #271
#296

[2016-08-16 17:35] #292 closed

[2016-08-16 17:41] scott opened #298 "Create Italian Translation"
We have i18n coverage for many languages, but one we are missing is Italian.   Would be great to get some help with this!  There is an updated guide to translation in the `locales` directory

[https://github.com/helpyio/helpy/blob/master/config/locales/translating.md](https://github.com/helpyio/helpy/blob/master/config/locales/translating.md)

[2016-08-16 17:45] #176 closed

[2016-08-16 17:51] scott opened #299 "Update Chinese Translations"
The Chinese translations have become a little out of date and there are a number of strings that need some translation love. If you are a Chinese native speaker, we need your help! Please submit a PR or reply to this topic with the missing values. The untranslated strings are currently commented in the file:

`config\locales\zh_CN.yml`
`config\locales\zh_TW.yml`

[2016-08-16 17:54] #274 closed

[2016-08-16 18:14] brianjking opened #300 "Upgrading Heroku "One Click Install" Helpy"
Hi,

If I've installed using your "One click installer" on Heroku what is the upgrade process? I wasn't able to find any documentation available on this procedure.

Thanks!

[2016-08-16 18:56] hadifarnoud commented on #271
it should. if there is any `text-align: left;` in those templates, we should remove them too.
if text align is not set explicitly, `dir=rtl` will correctly change text direction and text align.

I'll test your PR and will comment on it if found any issue

[2016-08-16 19:22] brianjking opened #301 "Toggle Tickets & Forums off (settings.yml)"
Hi,

I see that `settings.yml` has the following feature toggles included in it. I set tickets & forums to be false and deployed to Heroku and these features are still available.

Based on this I'm guessing it's not yet fully implemented. When I checked the roadmap on Trello, I couldn't find any mention of when this is planned for.

Please advise. Thanks!

[code]
https://github.com/helpyio/helpy/b

[2016-08-16 21:48] scott commented on #300
You will have to clone the heroku repo, pull and merge from github and then push it back to Heroku.  Visit your app's homepage on Heroku and navigate to the Deploy section. Follow the instructions under Heroku Git - Use Heroku Toolbelt. In particular:

[code]
Once you have this set up, you can update your app with changes from the repository with the following:

[code]

[2016-08-17 13:59] brianjking commented on #300
@scott Thanks. Appreciate it.

[2016-08-17 13:59] #300 closed

[2016-08-17 20:09] brianjking commented on #301
@scott - Sorry to bug you, just wanted to see if you could quickly enlighten me here? Thanks for all you do. :+1:

[2016-08-17 20:24] scott commented on #301
Hey @brianjking I actually replied to your comment over here [http://support.helpy.io/en/knowledgebase/18-configuring-your-helpy/docs/22-configuring-your-helpy-settings](http://support.helpy.io/en/knowledgebase/18-configuring-your-helpy/docs/22-configuring-your-helpy-settings) but the bottom line is that those capabilities are not enabled yet.

[2016-08-17 20:25] brianjking commented on #301
@scott Thanks, sorry, didn't see that comment. Is this feature on the roadmap anywhere so that I can track it?

[2016-08-17 23:34] scott commented on #301
Are you hoping to use it?

[2016-08-17 23:44] brianjking commented on #301
Yeah, I really just want to use the knowledge base feature if possible.

[2016-08-18 04:52] hadifarnoud opened #302 "custom SSO"
is it possible to use a custom single sign on with Helpy? it would be great if we can connect it to our own app's login

[2016-08-18 13:16] scott commented on #302
Do you use Devise for auth?

[2016-08-18 13:19] hadifarnoud commented on #302
On our app? No. We are not on Ruby on Rails

Hadi Farnoud

On Thu, 18 Aug 2016 at 17:46 Scott Miller

<
mailto:Scott Miller <notifications@github.com>

a, pre, code, a:link, body { word-wrap: break-word !important; }

Do you use Devise for auth?

—

You are receiving this because you authored the thread.

Reply to this email directly,
https://github.com/helpyio/helpy/issues/302#issuecomment-240719

[2016-08-19 00:29] felipewmartins opened #303 "Deprecation Warning"
Hi,
 When I started the helpy it was presented at the log the following message:

**DEPRECATION WARNING: Sprockets method `register_engine` is deprecated.
Please register a mime type using `register_mime_type` then
use `register_compressor` or `register_transformer`.
https://github.com/rails/sprockets/blob/master/guides/extending_sprockets.md#supporting-all-versions-of-sprockets-in-processors
 (ca

[2016-08-19 22:43] #105 closed

[2016-08-20 15:59] scott commented on #271
I merged it in just now, let me know if you see any more things that need to support RTL.

[2016-08-20 15:59] #271 closed

[2016-08-20 18:36] scott opened #304 "Refactor and write tests for insights statistics"
The insights view has a lot of great statistics, but needs some cleanup.  A lot of the queries are inline and could be moved off to the `Topic` class.  This would make it easier to write tests for them as well.

[2016-08-21 07:16] hadifarnoud commented on #302
It would be a great addition to Helpy. Customers expect to be logged in already. forcing them to sign up in yet another place may confuse them.

[2016-08-22 13:45] Seven-dev opened #305 "Common reply parsing fail"
Common reply text stops at '.
Example:
"You've been banned."
Becomes:
"You"

No client or server side errors.
It appears to be saved correctly on the server but when I reply to some discussion and choose a common reply, I'll get this bug.

[2016-08-22 22:37] scott commented on #302
Yeah I agree although it is a somewhat complicated thing.  Can your app support oauth2?

[2016-08-22 22:39] #68 closed

[2016-08-23 08:29] hadifarnoud commented on #302
oauth2 will do, but I think there are better ways. I'm not sure how Zendesk works but it's very convenient.

[2016-08-23 14:53] scott opened #306 "Settings header is repeated twice"
There is a javascript error on the settings page which is causing the header to be repeated twice.  What should happen is when the user clicks on a settings item, the "Agent Settings" should be hidden, rather than taking the value of the settings header.

[2016-08-26 17:15] brianjking commented on #301
@scott - Anyway I can help test this or anything else I can do? Thanks!

[2016-08-27 08:24] CGA1123 commented on #305
Seems to me this is probably due to [this](https://github.com/helpyio/helpy/blob/252ae27129b56b1bcd59c40c528376c00a44a439/app/helpers/admin_helper.rb#L31) piece of code not escaping `'`'s?

[2016-08-27 08:37] CGA1123 commented on #303
@felipewmartins

[saas-rails 5.0.6 fixes this.](https://github.com/rails/sass-rails/pull/382)

Given that this is just a patch, updating should be fine.

[2016-08-29 15:22] #305 closed

[2016-08-29 16:43] #306 closed

[2016-09-02 21:02] scott commented on #297
#312

[2016-09-03 10:51] hadifarnoud opened #317 "outbound emails are send as "agents@none""
I'm using Sendgrid and set my mail domain as kamva.ir

Sendgrid shows me the mail is from `agents@none` even though I set the email to `support@camva.ir`

update: this happens if you try to open an issue with the same email as one of your agents

[2016-09-03 14:48] hadifarnoud opened #318 "better file management and branding"
when installing Helpy, there is no easy way to change favicon and profile images. or there is a way but I haven't found it.

also on heroku, there is no easy way to manage uploaded files. I think helpy needs S3 integration. The process of adding images in contents could be better too. as it is now, I can't add any images to Helpy

[2016-09-03 14:48] hadifarnoud commented on #300
is there any need for migration?

[2016-09-03 15:04] hadifarnoud commented on #272
I couldn't find a solution to this one yet.

[2016-09-03 15:27] CGA1123 commented on #272
It seems that the mailers do not explicitly set the locale?

[This stackoverflow question](https://stackoverflow.com/questions/9311956/devise-and-localized-own-mail-template#9313799) might be of interest.

[2016-09-03 16:46] scott commented on #317
Are you on the master branch?  This is actually the notifications feature- it sends to agents@none and bcc's to each agent that has opted in to receive notifications.  Customers should still be receiving from your support address.

[2016-09-03 16:46] #317 closed

[2016-09-03 17:51] CGA1123 commented on #318
The favicon can be changed to whatever you want it to in `/admin/settings` under 'design'

Just ensure that the file you type in in the favicon field corresponds to a file in the `APP_ROOT/assets/images`

[2016-09-04 03:40] scott commented on #318
You can also use a remote hosted image by providing a full URL.  To enable images for your account you need to add an API key for Cloudinary.  They have a free tier that should suffice for smaller accounts.  I want do to some kind of S3 integration soon, it is definitely on the backlog.  You can see it here: [https://trello.com/b/NuiWsdmK/helpy](https://trello.com/b/NuiWsdmK/helpy)

[2016-09-04 03:40] #318 closed

[2016-09-04 03:50] scott commented on #300
Yes I think you do have to explicitly tell Heroku to migrate on version upgrades using `heroku run rake db:migrate` if the update requires a migration.

[2016-09-04 07:18] hadifarnoud commented on #301
I would love this feature too. we prefer to turn forum off.

[2016-09-04 07:22] hadifarnoud commented on #318
Cool. S3 integration would be awesome.

[2016-09-04 07:23] hadifarnoud commented on #318
@CGA1123 I know how to do it but UX wise, it's not so good. If you give user ability to upload the logo right in admin, that would make things simpler.

[2016-09-04 07:49] hadifarnoud commented on #272
ok, I don't want to edit core codes myself. can you fix this or send a PR so I can test it?

[2016-09-04 20:50] scott commented on #301
Okay, it seems like a pretty common request!

[2016-09-09 16:47] Rynaro commented on #287
The `turbolinks-classics` is now deprecated, and the project team recommends to use the `turbolinks` with new flow provided by 5 version.
I think is a good solution locking the Gemfile Turbolinks version in `~> 2` for now, like the @connorshea said. And in future creating a planning to model Helpy scaffold to supports the new Turbolinks versions.

[2016-09-09 21:14] bmoree commented on #298
it's far from perfect, but i did spend a lot of time on it. Moreover, it's probably an old version, so I hope it still is of some use.
[it.zip](https://github.com/helpyio/helpy/files/464845/it.zip)
 (zipped it, because github doesn't support yml files...)

[2016-09-09 21:52] CGA1123 commented on #298
@bmoree could you create a pull request to add that file to `config/locales`

[2016-09-10 12:31] bmoree commented on #298
@CGA1123 I have no Idea how to do that, that's why I've added the file to my comment.
Plus, it probably needs some work to fit with the current language file: we've customized our copy of helpy a few times, so it's probably gonna break when we update (still on v0.8.1-14-gb936447).

[2016-09-10 15:17] CGA1123 commented on #298
@bmoree I created a pull request to add your translations.

However, the new strings that have been added since the version you are currently using are not yet translated (I don't know Italian, sadly).

[2016-09-14 21:11] scott commented on #298
Thanks @bmoree for contributing this!

[2016-09-14 21:11] #298 closed

[2016-09-14 21:12] scott commented on #287
Okay this sounds good.  Can you submit a PR @Rynaro?

[2016-09-14 21:26] Rynaro commented on #287
Sure! I will send a PR with this modification.

[2016-09-15 15:14] #4 closed

[2016-09-15 15:14] #295 closed

[2016-09-15 17:39] scott opened #323 "Add better CSS handling for printing of tickets, other views"
Create a stylesheet for printing.

[2016-09-15 17:51] #287 closed

[2016-09-16 21:08] scott commented on #276
@shaktik1989 here is documentation for the import function.  Let me know what questions you have:

**Import Requirements**

The import feature of Helpy should allow users to restore a Helpy exported backup file, or bulk load new records by formatting a CSV to match that supported by Helpy.

There are two general cases when an import would be used:

1. To restore a backup CSV
2. To import data from

[2016-09-17 17:45] hin101 opened #329 "Moved Search bar out of nav for XS screen size"
I have moved the search bar from the nav menu into the title bar for mobile screens, as the button isn't visible on smaller screens.

Pull request: #328

[2016-09-18 09:58] hin101 commented on #323
I can have a look at this one for you.

[2016-09-18 20:09] #329 closed

[2016-09-19 01:35] lidimayra opened #332 "I18n files organization"
While working in bug #66, I noticed that I18n files are divided in such way to provide one file per locale.

It's a good practice to have these files structure similar to the structure of the project.
([reference here](http://guides.rubyonrails.org/i18n.html#organization-of-locale-files))

Any interests in this? If so, I would be glad to submit a pull request to help :relaxed:

[2016-09-19 22:08] scott commented on #332
Let me me think about this one.  I agree there may be a benefit of having the structure similar to the app, however we have had a few translations from non technical users who can just take the .yml file and work down it and send back as a text file.  I am concerned breaking it up as the guide suggests could make it really difficult for these translators.

What are your thoughts about this?

[2016-09-19 22:10] #301 closed

[2016-09-19 22:11] #66 closed

[2016-09-19 22:12] scott commented on #332
Also related to #243

[2016-09-20 02:43] brianjking commented on #301
@scott Thank you! I have a question though, even though I logged in and disabled the functionality outside of the knowledgebase there's still a "sign up" option.

What are my options for disabling the sign-up option for end users?

As a follow-up what do I need to enable settings wise to get an email/push notification/admin notification/smoke signal for when people click "yes/no" to an article bei

[2016-09-20 03:28] lidimayra commented on #332
I see... when thinking about the project itself I'm definitely inclined to go for the reorganization.

But you've got a good point over there. When it comes to non technical contributors, current format is much more friendly. :)

[2016-09-20 03:29] scott commented on #301
Yeah I should probably remove the signup option.  Good catch... The yes/no will automatically fire an event into Google Analytics if you have provided that ID.  Then you can use a conversion event to quickly see the % approval rate for each article.

[2016-09-20 08:24] CGA1123 commented on #332
I think setting up where it is more modular makes more sense.

For non-technical people, an in-depth guide could be made up in the docs, or they could submit a file in the old 'format' and then someone else could just split it up, or even better, a script could probably be written to split the file up automatically.

[2016-09-21 03:08] connorshea commented on #237
https://github.com/globalize/globalize/issues/543#issuecomment-247559430

Could someone open a PR for helpy to make sure master of globalize doesn't break things?

[2016-09-21 13:36] brianjking opened #334 "If Knowledgebase is only enabled component then user sign-ups should be disabled (re: #301)"
![sign-up](https://cloud.githubusercontent.com/assets/6786817/18712976/54c13760-7fd6-11e6-8b14-12ffa9255888.png)

If a Helpy site is only using the Knowledgebase component and has disabled the other functionality the sign-up function should be disabled/removed.

- See: #301
- https://github.com/helpyio/helpy/issues/301#issuecomment-248192069
cc: @scott

Thanks!

[2016-09-21 13:37] brianjking commented on #301
@scott I've created a new request to track the sign-up disable option in #334.

Thanks for getting this issue closed (#301).

[2016-09-21 14:03] scott commented on #334
I beat you to it, see this commit https://github.com/helpyio/helpy/commit/043dba86bf0aa6d1e4fa87f9e101314027cba601

If you pull from master, you should see the changes.

[2016-09-21 14:03] #334 closed

[2016-09-21 14:09] brianjking commented on #334
@scott Thanks, looks to be working! 😺

[2016-09-22 11:04] mrManner opened #335 "Notification emails are sent out to non-agents"
Still trying to narrow this down, but:

When receiving new topics/tickets via email, notification emails should be sent out to those agents who have enabled email notifications. Currently an email is generated and sent out to some other registered users as well - even some who haven't activated their accounts (another user having sent in an email but never set a password/used the web interface). T

[2016-09-22 15:07] scott commented on #335
Hey thanks for posting this.  The way the notifier currently works is that it sends to a user named `agents` and then BCCs to the agents that have opted in for notifications.  So it is totally expected to see the agents@none in Sendgrids logs and they don't charge/count these against your send quota.

This has caused quite a bit of confusion so I am planning to change it, and take care of the new

[2016-09-23 20:18] mrManner commented on #335
Yup, the agents mail wasn't a problem - I know that some regular users ("customers" if you like) received notifications since they called me :)

Here is an excerpt from our Mailgun log:

`{
  "tags": [],
  "envelope": {
    "transport": "smtp",
    "sender": "jamboree17@scouterna.se",
    "sending-ip": "209.61.151.224",
    "targets": "anna-karin.hennig@scouterna.se"
  },
  "storage": {
    "url":

[2016-09-24 11:30] hin101 commented on #323
#341 removed href links from print view

[2016-09-24 17:33] #335 closed

[2016-09-24 17:52] scott commented on #335
This should be fixed now, if you pull from master.  There was in fact a bug that caused this.

[2016-09-25 20:50] scott opened #343 "Flag for Review Feature"
# Overview

The community feature of Helpy allows users to create and reply to messages in an open forum and interact with each other through discussion threads.  The post flagging feature makes it possible for other users to alert forum administrators that possibly objectionable content has been created in the community, and should trigger a review by the administrators.
# Stories
1. Each post di

[2016-09-25 21:18] CGA1123 commented on #343
Allowing the user to add a reason for reporting might be a nice touch as well.

[2016-09-25 21:43] CGA1123 commented on #171
@gdeflaux #124

[2016-09-26 06:24] hin101 commented on #343
Hey Scott, I am working on this one for you

[2016-09-26 14:57] scott commented on #343
I think adding a reason for reporting input is a good idea, it will also reduce the likelihood of people accidently reporting posts for no reason.  I will update the stories.

[2016-09-27 11:41] kerncore opened #344 "Try enable cloudinary ("
HI,

I'm try enable cloudinary but unsuccessful ((

--
Completed 500 Internal Server Error in 1441ms (ActiveRecord: 15.8ms)

ActionView::Template::Error (Must supply cloud_name in tag or in configuration):
    19: <link href='//fonts.googleapis.com/css?family=Droid+Sans:400,700|Droid+Serif:400,700|Lobster' rel='stylesheet' type='text/css'>
    20:
    21: <%= csrf_meta_tags %>
    22: <%= favicon_

[2016-09-27 11:55] CGA1123 commented on #344
Looks like you haven't set up cloudinary options in the admin settings.

[2016-09-27 12:37] kerncore commented on #344
Exactly!
Thanks, ;)

[2016-09-27 12:37] #344 closed

[2016-09-27 14:47] CGA1123 commented on #344
@kerncore No problem!

[2016-09-28 14:00] mrManner commented on #335
Thank you! I've updated and will test it tonight =)

[2016-09-28 14:08] scott commented on #335
Thank you for reporting the issue, thats a particularly nasty one.

[2016-09-28 15:03] scott opened #346 "Refactor CSS for Themes"
The themes that are included with Helpy (Flat and Light) both use a modified copy of the base.scss from core Helpy.  Instead of using this, the core should be maintained in base.scss, and any updated or overriding changes should be kept in the themes.

[2016-09-29 09:09] hvdvegt opened #347 "Sparkpost rejects notifications"
My agents don't receive notifications of new messages or replies. After some digging, I've found that sparkpost rejects them, probably because of the to address supplied.
{
    "bounce_class": "25",
    "error_code": "501",
    "raw_reason": "501 5.5.2 RCPT TO syntax error",
    "reason": "501 5.5.2 RCPT TO syntax error",
    "tdate": "2016-09-29T07:37:46.000Z",
    "timestamp": "2016-09-29T09:37:

[2016-09-29 21:25] scott commented on #347
Yeah it seems like it.  I only tested with Sendgrid...

[2016-09-30 14:32] scott opened #348 "Refactor notifications addressing"
Currently the notifications feature collects the email addresses to be notified in the BCC field of the notification mailer, and sets the email to "agents".  This has resulted in some confusion and failures (Sendgrid shows 'agents@none', sparkpost fails outright #347).

Instead, this should use a dynamic scope and put the first member as the to address and the rest as bcc.

[2016-09-30 18:57] hin101 commented on #343
#349

[2016-09-30 19:03] hin101 commented on #343
1st pull request: #349

[2016-10-01 08:39] hadifarnoud commented on #272
any update on this bug? we are blocked using Helpy just because of this issue

[2016-10-01 09:00] CGA1123 commented on #272
@hadifarnoud I'll have another look at this.

[2016-10-01 09:35] CGA1123 commented on #272
@scott I'm thinking this may be happening due to the way that the `locale` [field is set in the `Topic` model. ](https://github.com/helpyio/helpy/blob/master/app/models/topic.rb#L177)

I think that `I18n.locale` will get `default_locale` instead of `@locale` due to the fact that it's being set in the model.

Is that a possibility?

[2016-10-01 09:47] hadifarnoud commented on #272
@CGA1123 it uses default browser settings for that. Since we only have one locale set up, it shouldn't use English even if browser locale is English. We only have Persian enabled now

[2016-10-01 10:05] CGA1123 commented on #272
@hadifarnoud I just tested now with locale set to `fa`, seems to work fine.

[2016-10-01 11:14] hadifarnoud commented on #272
the issue is, most of users keep their locale set to English. We don't have English locale on our Helpy setup. it shouldn't use `en` then

[2016-10-01 13:21] CGA1123 commented on #272
How do the users set their locale to english if it isn't available?

Selecting only farsi and setting farsi as the default in `/admin/settings` internationalisation, removes the locale changing feature from the header for me.

[2016-10-01 14:11] hadifarnoud commented on #272
Let me explain in details:

Locale in Helpy is Farsi only. there is no option to change it as we only have Farsi enabled.

However, if user browser language is set to English, the emails will be sent to him in English. It shouldn't. we have one locale in Helpy and every email should be in that locale only.

Does it make sense?

[2016-10-01 15:50] CGA1123 commented on #272
Yes, however my browser locale is set to english as well, and the emails go through as farsi (For emails sent by the `TopicMailer` anyways.)

Other mailers don't seem to explicitly set `@locale` in their methods, which means some emails might revert back to english given that the default locale set in `production.rb` is set to`:en`.

One fix might be to change `config.i18n.default_locale` to `:fa`

[2016-10-01 16:50] scott commented on #323
Can you make one more enhancement to this and remove the "support pipeline" from the printable area?  I don't think this adds much value if someone is trying to print a ticket.

[2016-10-01 18:42] scott opened #350 "Attachments should open in new window"

[2016-10-02 09:54] hin101 commented on #323
Issue fixed in #352

[2016-10-02 14:07] hadifarnoud commented on #272
nope, still have issues. another weird thing that happened is new ticket form doesn't work. I only changed default locale to `fa`.

![screen shot 1395-07-11 at 3 47 45 pm](https://cloud.githubusercontent.com/assets/589808/19021095/b500d9f2-88c6-11e6-814b-7e9ee392844f.png)

notice the english line ` A new private customer message...` line?
![screen shot 1395-07-11 at 3 58 14 pm](https://cloud.githu

[2016-10-02 14:58] hadifarnoud commented on #272
correction: the english string was due to missing translation. I sent a pull request to update it.

the only issue seems to be the emails text direction, which should be RTL but isn't

[2016-10-02 17:09] CGA1123 commented on #272
So all the other issues are fixed now?

Apart from the text not being RTL?

[2016-10-02 18:21] #323 closed

[2016-10-02 18:22] #350 closed

[2016-10-02 18:42] scott opened #354 "Write test coverage for Team/Organizations feature"
Test coverage is still needed for #345 for both web and API methods.

[2016-10-02 18:43] #297 closed

[2016-10-02 19:22] scott opened #355 "Proposal for file uploads to file system instead of Cloudinary?"
Currently file uploads require the Cloudinary service to handle and host images.  This has advantages because it let us move faster in adding this feature early on (no need for imagemagick, etc.) and it works well for Heroku.

Now though, I think it would be advantageous to support multiple options here.  If you have thoughts on this, please post them.

One solution I am considering- have the defa

[2016-10-03 04:54] connorshea commented on #355
What currently handles uploads? Paperclip, Carrierwave, something else?

[2016-10-03 04:55] connorshea commented on #355
I believe Fog might be good for this as an adapter for multiple file hosting backends, but I'm not 100% sure.

[2016-10-03 08:07] hadifarnoud commented on #355
upload to file system unless Cloudinary or S3 is setup. that makes sense to me

[2016-10-03 08:08] hadifarnoud commented on #272
there is a new issue ever since I updated to new version. I can't create new tickets from http://support.kamva.ir/fa/topics/new

it just goes back to new topic page and nothing happens.

and RTL issue for emails.

I'm running exact version of this: https://github.com/KamvaHQ/helpy

[2016-10-03 09:34] rschaerer opened #356 "Live search for the admin ticket search field"
@shaktik1989 implemented the great live search #183 for the "customer visible" search filed. I'd suggest to provide this feature as well for the admin ticket search field, this would help the agent's as much as the customers.

For clarification, I mean this field:
![selection_007](https://cloud.githubusercontent.com/assets/1032762/19033158/5468fc2c-895d-11e6-986f-b6b6a248d8e0.jpg)

[2016-10-03 15:08] CGA1123 commented on #272
It seems some of the email views should have RTL support set up.

Emails sent by`TopicMailer` & `UserMailer` should be displaying text correctly, can you confirm?

[2016-10-03 16:13] hadifarnoud commented on #272
if ‍`TopicMailer` is for new topics notification and replies, no it's not fixed. I still get them as LTR.
<img width="820" alt="screen shot 1395-07-12 at 7 36 15 pm" src="https://cloud.githubusercontent.com/assets/589808/19044520/909afdf0-89a1-11e6-87a9-fbb1dded8e7b.png">
Should I create a new ticket to test it or just replying to one would suffice?

If `UserMailer` is for forgot password etc, the

[2016-10-03 16:24] scott commented on #272
The forgot password is generated by `devise_mailer` which is a separate concern.  The `topic_mailer` handles the topic email to a user to let them know there is a new reply.  The `user_mailer` is sent to users upon their creation to let them know that an account was generated for them.

So the way to test `user_mailer` is by submitting a new ticket via email or form with a never before registered

[2016-10-03 17:48] CGA1123 commented on #272
@scott mailcatcher is sweet!

[2016-10-05 04:14] scott opened #360 "Toggle welcome message"
Currently every new user gets a welcome message with a link to "claim" their account.  This really should be configurable:

Add a settings toggle to enable or disable the welcome new user message that gets sent out when a new user is added to the system. There should also be a way to customize the message- although this could get messy really quickly across all locales.

[2016-10-05 13:30] #272 closed

[2016-10-06 16:26] CGA1123 opened #364 "Mailgun is no longer maintained"
Currently, the README uses/suggests mailgun as an example of a email provider.

the `mailgun-ruby` gem is no longer actively maintained, it was last updated 8 months ago, and contains some outdated dependencies, which open security vulnerabilities.

I suggest updating the `README` to suggest another service, at least until the `mailgun-ruby` gem is updated.

See:
mailgun/mailgun-ruby#56
rest-clien

[2016-10-07 16:56] scott opened #367 "Investigate Parse errors"
[code]

Does anyone know how to reproduce this?  It seems to be from the `User` not getting saved correctly.

[2016-10-09 09:37] rschaerer opened #370 "Correct spelling of GitHub project wide (CaseSensitive!)"
Hi @scott, I've got something annoying: I'd propose to replace all occurrences of the spelling Github with the proper spelling of [GitHub](https://github.com/about) (CaseSensitive!). Can you run this or should I issue a PR?

[2016-10-09 09:48] rschaerer commented on #69
I think this shouldn't be considered a bug anymore (since 17 Mar) but the title of the discussion should be changed as well! I'd like to close this issue and reopen another one, assigned to the "philosophical" discussion. But maybe we just forget about all this, until it comes up with an actual user case and just close this issue an d do nothing more about it?

What to do now?

[2016-10-09 12:09] rschaerer opened #372 "Remove multiple punctuation marks in a row (like "Still Need Help??")"
I came up with this in [the discussion](https://github.com/helpyio/helpy/commit/6a28bab90eabea4a8bcbebd111cc2b61013c7e27#commitcomment-19352092) with @Jcambass during the german translation imporvement:

And it seems like @Jcambass and I agree on removing multiple punctuation marks for the sake of correct grammatical spelling.

Should I change this on the other languages as well? Maybe I could do

[2016-10-09 12:39] CGA1123 opened #373 "Dropdown Menu Bug"
The dropdown menu is covered by over posts.

Screenshot below:

<img width="803" alt="9bc5de9af26d8f492ef5352b4b4e4445" src="https://cloud.githubusercontent.com/assets/7707413/19220472/92d6d188-8e25-11e6-8b66-94f9a9e0f70f.png">

Ideally the dropdown menu should show over the other elements.

[2016-10-09 23:30] #354 closed

[2016-10-11 02:27] scott commented on #373
Yeah I know.  If you can figure out how to make it do that, go for it!  If not, another solution is to just give that container a minimum height big enough to always fit the dropdown.

[2016-10-11 02:29] scott commented on #370
Yes, a PR would be great!

[2016-10-11 02:30] scott commented on #372
This is fine, it would be great if you could submit it with #370

[2016-10-11 03:29] #360 closed

[2016-10-11 06:00] jakobii opened #378 "first login"
How do you login for the first time as an admin once you have built the server? the only place in the settings.yml that could possibly constitute "first time login credentials" don't seem to work. I must be totally missing something... any help/direction would be super awesome! thank you!

The settings.yml:
**admin_email: <my-email>@gmail.com
smtp_mail_username:  # Enter your SMTP email username
s

[2016-10-11 06:05] kwando commented on #378
This is poorly documented, using the same credentials as the demo worked for me.

See: https://github.com/helpyio/helpy#live-demo for details.

[2016-10-11 06:21] jakobii commented on #378
@kwanda
 thanks for the tip! i just tried, no luck. the only thing I really customized was the settings.yml. I changing settings.yml to the original values, but still no luck. "Invalid email address or password."

[2016-10-11 09:10] CGA1123 commented on #378
You might need to seed the database.

rake db:seed

Sent from my iPhone

On 11 Oct 2016, at 07:21, jakobii <notifications@github.com<mailto:notifications@github.com>> wrote:

@kwanda<https://github.com/kwanda>
thanks for the tip! i just tried, no luck. the only thing I really customized was the settings.yml. I changing settings.yml to the original values, but still no luck. "Invalid email address

[2016-10-11 16:14] rschaerer opened #380 "selecting a Common Reply after writing some individual reply to a ticket overwrites the custom messag without notice"
type something as response to a ticket in the `Reply to this Topic:` field and pick a `Select Common Reply` AFTER texting something custom this action *overwrites" the customly written stuff without further notice.

as @scott proposed in the [slack chat](https://helpyio.slack.com/archives/feedback/p1476201909000065) appending might be a solution

(cc: @hagraph & @scott )

[2016-10-11 17:07] jakobii commented on #378
@CGA1123 is the first admin login  Admin User: "admin@test.com" and password: "12345678"?  I've followed both of these tutorials closely:

http://support.helpy.io/en/knowledgebase/11-installing-helpy-yourself/docs/1-installing-helpy-on-using-the-digital-ocean-rails-image

http://support.helpy.io/en/knowledgebase/11-installing-helpy-yourself/docs/27-installing-helpy-on-ubuntu-14-04-using-passenger-

[2016-10-11 17:08] scott commented on #378
yes, that is what you should use the first time you login.  you will go through a short onboarding that prompts you to change your password on your first time logging in.

[2016-10-11 17:10] jakobii commented on #378
oh ok great, thanks for the confirmation! at least now I can start narrowing down what I'm doing wrong

[2016-10-11 17:23] scott opened #382 "When an agent/admin adds an attachment to a ticket, it should be emailed to the user"
Currently this does not seem to happen.

[2016-10-12 13:37] domosorio commented on #378
I have the same problem..."Invalid email address or password." Using User: "admin@test.com" and password: "12345678" but continúe the problem

[2016-10-12 21:01] #373 closed

[2016-10-12 21:03] #370 closed

[2016-10-12 21:03] #372 closed

[2016-10-12 21:27] jakobii commented on #378
I ran "RAILS_ENV=production rake db:seed" as the user "Rails" and then the
demo login worked.

On Wed, Oct 12, 2016 at 6:37 AM domosorio <notifications@github.com> wrote:

[2016-10-13 14:03] noyainrain opened #388 "Community forums on the front page"
Hey everyone!

At the moment, besides the search field, only the knowledge base is featured on the front page. I'd really love to have an option to also include the list of community forums/topics prominently on that page.

Ideally, there would be two toggle settings (one for knowledge base, one for community forums), so one can choose to show only one category, both or even none (search field onl

[2016-10-13 16:41] scott commented on #388
Thanks for the suggestion!  I think this is a great application for a custom theme that more prominently includes the community on the front page.

Interesting that you found Helpy via uservoice, I never really considered Helpy to be an alternative to them.  From what I know, the most popular uses are:

1- Helpdesk- ticketing only
2- Helpdesk/ticketing with a knowledgebase
3- knowledgebase only
4-

[2016-10-13 18:27] scott opened #390 "Add additional date options and a freeform datepicker to insights"
The current implementation of the insights daterange picker is extremely limited.  This enhancement will increase the flexibility of this by adding a start and end daterange picker, and two new predefined ranges- "last week" and "last month".

Here is a rough idea of how it will look:

![screen shot 2016-10-13 at 12 18 12 pm](https://cloud.githubusercontent.com/assets/14369/19361412/d2deb990-913f-

[2016-10-13 18:49] #380 closed

[2016-10-17 19:24] hin101 commented on #76
Pull Request #394

[2016-10-18 06:58] rschaerer opened #395 "Using a browser with a locale which has no translated content in the corresponding locale breaks the admin view ﻿⁠⁠⁠⁠/admin/categories"
Using a browser with a locale which has no translated content in the corresponding locale breaks the admin view ﻿⁠⁠⁠⁠`/admin/categories`

**The Content overview looks like this if a Category isn't translated (compared to the last category which has a translation):**

![admin-view-content](https://cloud.githubusercontent.com/assets/1032762/19467219/4f2aebc6-9510-11e6-8d30-87209c251b29.jpg)

**Click

[2016-10-18 08:34] CGA1123 commented on #395
@rschaerer Could you post the logs for the 500 error?

[2016-10-18 13:50] scott commented on #395
Also, please give the commit `sha` you are using, as this looks like a slightly older version- the error page should be branded.

[2016-10-18 13:54] scott opened #396 "Usernames are being saved with quotes"
Some email providers put the users name in quotes, so when a user is added through `email_processor` the user ends up getting saved with a name that includes quotes.  These should be cleaned prior to saving.

[2016-10-19 07:51] rschaerer commented on #395
@scott: I'm using the last release, 0.10.2 (bb85865).

@CGA1123: here's the unicorn log, I hope this is the correct log! Otherwise ping me.
[code]

[2016-10-19 16:06] scott opened #398 "Prevent deleting system forums and categories"
Should not be able to delete "common replies" category, or system forums (which are currently hidden anyways.)

[2016-10-19 16:26] rschaerer commented on #398
:boom: In addition to this, there are two potential data leaks for posts being made in the common replies category:

1.  If someone sets the common replies category to *active* (and optional also enables frontpage) the entries show up in the Knowledgebase ([Source: helpy channel](https://helpyio.slack.com/archives/general/p1476893339000027))
2. If someone sets a post's **Status: Published** and no

[2016-10-19 20:46] #378 closed

[2016-10-19 20:49] scott commented on #332
The problem is with the rapid growth in number of i18n strings, keeping a guide up to date would be a challenge.  For the time being I am closing this.

[2016-10-19 20:49] #332 closed

[2016-10-19 20:50] scott commented on #165
This was implemented some time ago, so closing the thread

[2016-10-19 20:50] #165 closed

[2016-10-19 20:52] #11 closed

[2016-10-20 15:03] NoyaInRain commented on #388
Hey @scott, thanks four your reply!

Well, I would add the use case

     Feedback forum + knowledge base (~ Uservoice)

to your list (apart from *some other combination*) ;) . It may be the least popular, but maybe still relevant and it seems I'm not alone here: For example, Helpy is listed as alternative to Uservoice on [AlternativeTo](http://alternativeto.net/software/uservoice/).

I think you

[2016-10-20 18:32] #348 closed

[2016-10-21 03:01] scott commented on #281
Resolved in #389

[2016-10-21 21:28] scott opened #406 "Refactor/rename topic_mailer"
This should really be named `post_mailer` since it sends a message to users when an agent replies to them.  Currently Topic.post.last is used when it really should just use a reference to the Post.

[2016-10-23 15:55] #390 closed

[2016-10-23 17:18] scott opened #411 "Split Ticket"
This will add the ability to split a ticket/topic into two separate topics, by moving posts from one topic to a new one.

It should add an item to "Split" to the post context menu, and upon splitting, create a new topic made up of a copy of the post the split was initiated from.  The name of the new topic should be 'Split from [old topic name]'.  The original topic should still include the post th

[2016-10-23 17:23] scott opened #412 "Make topic subject editable"
This enhancement will add an inplace editor to the Topic title, similar to how GitHub issues works, allowing users to change the topic subject.

[2016-10-23 17:30] #382 closed

[2016-10-23 21:08] hin101 commented on #412
I can work on this one for you :)

[2016-10-23 22:58] scott commented on #412
Nice!  Yeah let me know if you need more details.

[2016-10-24 18:39] #355 closed

[2016-10-25 08:47] CGA1123 commented on #364
mailgun/mailgun-ruby#58 Finally merged to fix this issue.

[2016-10-25 08:47] #364 closed

[2016-10-25 22:40] scott opened #414 "After changing notifications settings, should be redirected to settings"
Currently it takes you back to the main page.

[2016-10-26 16:07] silverskysoft opened #416 "Private / Agents only Knowledge Base"
Hello,
Is there way add topics in KB so that its accessible only to Agents or logged in users? This is so Agents can learn about internal processes etc.

[2016-10-26 23:24] scott opened #417 "Should not check suggested answers if KB && Community are off"
This is an optimization to suppress the suggested answers if there are no searchable docs available.

[2016-10-27 13:48] #414 closed

[2016-10-27 21:25] silverskysoft commented on #416
@scott any ideas?

[2016-10-27 21:31] scott commented on #416
Currently this is not possible but its a pretty good idea and I will add it to the backlog

[2016-10-30 21:20] hin101 commented on #412
#423 pull request

[2016-10-30 22:08] scott opened #425 "Truncate long posts instead of blocking them"
Currently Helpy imposes a limit of 10,000 characters on `Posts`.  If the message is longer, it fails validation and cannot be created.  This is bad because if it is created via an email with a lot of quoted text, the `Post` will not be created, and fail silently.  Instead the better behavior would be to simply limit the character stored.

[2016-10-31 10:10] ekarlso opened #426 "Route email addresses to different groups"
Would it be possible to make a routing rules feature?

[2016-10-31 10:32] moorglade opened #427 "Problems with uploading non-image attachments"
When creating a new discussion, if I attach a non-image (eg. plain text) file, the resulting discussion page's content is not displayed correctly (only the page's header, title and footer are shown).

If I try to attach such a file to a comment in an existing discussion, a generic error is shown and the comment is not added.

In both cases, the problematic files are not saved to the `/public/uploa

[2016-10-31 13:52] scott commented on #426
Hi ekarlso- you can already do this by adding an alias to the incoming mail email address.  So if you support address was `suppport@yourdomain.com` and you wanted to route to the billing group, just address it like this- `support+billing@yourdomain.com` and it will be sent to the billing group.

[2016-10-31 13:52] #426 closed

[2016-10-31 13:53] scott commented on #427
Are you using Heroku?

[2016-10-31 17:00] scott commented on #427
Also, could you please clarify if you are seeing this on the front-end community, or only in the admin?

[2016-10-31 17:01] scott opened #428 "Cloudinary error in community posts"
If you switch from using Cloudinary to file storage, and a community post has attachments, it generates an error.

[2016-10-31 17:10] scott commented on #428
This is not really a bug, but a consequence of switching from Cloudinary to file storage.  You should leave the cloud name configuration intact if you wish for the Cloudinary attachments to still be displayed.

[2016-10-31 17:46] scott commented on #428
#429

[2016-10-31 17:46] #428 closed

[2016-10-31 19:54] lccezinha commented on #425
Hey @scott

Just to clarify, accept the Post to be created with more than 10K chars, but in the view trucante to appear only 10K, is that ?

[2016-10-31 20:00] scott commented on #425
I think actually we should only store the first 10k characters, so before it is saved, truncate it down.   Can probably actually keep the validation there, as long as the message is trimmed before saving. The view doesn't need to do anything differently that it does now.  The 10k limit is really to keep from overwhelming the server with huge emails.

[2016-11-02 09:50] moorglade commented on #427
No, we're not using Heroku, just building from source on our private server.

I'm seeing problems in both the admin and the community views. I attached some screenshots to illustrate the issue.

Creating a new discussion with an attachment
![helpy-1](https://cloud.githubusercontent.com/assets/8457512/19923859/a8c94af8-a0e9-11e6-8512-19e0fa586613.png)

Community view - discussion "body" not display

[2016-11-02 13:29] scott commented on #427
From your screenshots, it looks like the file does not have an extension of `txt`  This could be causing the problem.  I tested it against a `file.txt` and it worked correctly, however when I removed the filetype I was able to get the above behavior.

Either way this is not idea, we need better handling of files that are not accepted or identifiable.

[2016-11-03 03:19] Rynaro commented on #416
It's a great idea. In many companies that I have a opportunity to contribute, I see, the internal documentation is so important.
I'm working on this feature, because it's useful, and will improve the Helpy experience for agents team.

[2016-11-03 09:00] hadifarnoud commented on #367
any update on this Scott?

[2016-11-04 00:23] Rynaro opened #430 "Private ticket "cost/weight""
In various companies I can notice a cultural (?) behavior, that designates a "monthly ticket pack" for a specific client, or other company. If the client reach the limit of your "tickets pack", this client sometimes is blocked until a new "pack" is acquired, or the ticket opening isn't blocked, but each new ticket create a "tax" on monthly value paid by client.
I think, it's a great idea to create

[2016-11-04 02:00] scott commented on #430
That's an interesting idea, and one I have not really heard of previously.  I think it's a good idea for an extension gem.  This is not likely functionality that would be needed by most organizations, but for those that charge for support, it make a lot of sense.

[2016-11-05 12:05] Rynaro commented on #416
We have two options to implement this feature on Helpy.

One of them is creating a _internal_ boolean field on *Category* model, and modify, and create some scopes to virtually separate the *public* categories, and *internal* categories. And following this logic, we will need to adjust the *Doc* model too, to accept new Category flow.

And we have an option to completely separate the model, contro

[2016-11-05 16:02] scott commented on #416
I thought about this as well, and thought of the first option too.  I think it makes the most sense.  Then create a simple UI inside of the admin namespace for displaying the the new internal KB.

[2016-11-05 16:34] scott opened #431 "Replace suckerpunch with SideKiq"
This will implement sidekiq as the preferred queue for Helpy.  We will need to create documentation around this and mayb keep suckerpunch in development/test

[2016-11-06 12:00] hadifarnoud commented on #367
[code]

[2016-11-06 16:23] arrowcircle commented on #431
Why dont you like suckerpunch? Its super simple, dont require redis and dont need separate process

[2016-11-06 19:17] scott commented on #431
Its not that I don't like it, I just think Sidekiq is better for real business use.  Ultimately we'll still prefer `ActiveJob` which means you can run whichever backend you want.  I just don't like that restarting the rails process loses all the jobs in memory.

[2016-11-06 19:31] scott opened #433 "Change Ticket User"
Overview:

This enhancement will allow administrators and agents to change the "creator" or `user_id` of a given topic.  Sometimes a need arises to move a topic from one user to another.  This can happen when splitting a topic into multiple discussions, if a user calls in with an issue or an issue is forwarded to the helpdesk.  See  http://support.helpy.io/en/topics/328-change-source-or-asker-of-a

[2016-11-07 06:38] silverskysoft commented on #416
I agree, the first option is good.
 @Rynaro,  Can you also please consider adding `team_list` to Category Model like how Topic model has? Not sure how much work this may add. But do let us know your thoughts.

[2016-11-07 15:59] arrowcircle commented on #431
How much times did you lost jobs in production? Sidekiq is real pain for single process apps: need init and monitoring scripts.

Interesting idea - is to start sidekiq with app server, like @discourse does it.
But I dont know if its supported by passenger and puma.

[2016-11-16 01:41] scott commented on #416
Hey @silverskysoft I have been on vacation so I missed this one, but I am curious of your thoughts/reason for adding `team_list` to the Category model?  Is this your suggested approach for determining which categories are "internal only" and to further offer scoping to individual teams?

[2016-11-16 07:48] silverskysoft commented on #416
@scott, yes - as you described it. Given the teams feature exists, its almost natural to think of scoping various elements to teams. The immediate questions were:
1. I have a process A for team A. That process contains restricted info -  for example, login info to internal servers. This usually comes in organizations that have dissimilar teams.
2. General use is to limit access to such Knowledge B

[2016-11-16 09:06] hvdvegt opened #435 "Notify users when ticket is assigned"
I'd like my agents to be notified when a private ticket is assigned to them. Currently there are two options related to private tickets; get a notification for all new tickets, or a reply in an assigned ticket. Both don't seem to trigger an email when a ticket is assigned.

A have an operator which I'd like to receive a notification for all new tickets and then assign the ticket to the appropriate

[2016-11-16 17:17] scott commented on #435
Currently it is not, but adding the functionality would not be hard.  I will add to the roadmap and see who can do the work.

[2016-11-16 17:25] scott commented on #416
Currently there is not a way to scope views of the knowledgebase but relying on the `teams` list is a great idea.  I saw the @Rynaro started working on some stuff in his fork, but I have not looked at what he has done so far.

[2016-11-16 19:29] hin101 commented on #398
I can take a look at this for you

[2016-11-16 21:02] scott commented on #398
Awesome!

[2016-11-16 23:26] scott opened #437 "Better handling for support phone calls"
This enhancement extends the admin ticket creation dialogue with a new button to alternatively create a ticket via a phone call.  At the model level, Helpy still requires an email, so I suggest constructing a temporary address using the users phone number.   This is roughly what happens when an account is generated via Twitter OAuth and an email is not provided by Twitter.  The agent could then ch

[2016-11-17 01:07] Rynaro commented on #416
Actually the knowledgebase is open for all Agents to edit, and creates in any categories. We need to adjust the permissions inside the KB to deal with the Team logic.
Another thing to discuss, in Helpy we have the option to disable the KB, I think it's a good idea to split the logic into _Full KB disable_, _Public KB disable only_ and _Private KB disable only_.  What you think @scott ?
In my first

[2016-11-17 16:56] scott opened #439 "Scoping and humanizing for support pipeline"
Add date scoping for the support pipeline and humanize large numbers.  Should be connected to #440

[2016-11-17 16:58] scott opened #440 "Add filtering options for admin topics view"
Add the abilty to filter the topics view by date ranges, user, group assignment, etc.  More definition coming, also should be built after #365

[2016-11-17 23:21] #411 closed

[2016-11-18 02:25] scott opened #441 "Merge Tickets"
This enhancement will make it possible to merge two or more topics into a single new discussion.  From the topics overview page, the agent will be able to select 2 or more topics and then click on 'Merge' to combine the messages.

Requirements and workflow:

- From a Topics overview, the agent should be able to choose two or more topics to merge (existing functionality).
- An option to "Merge" wil

[2016-11-18 02:30] scott opened #442 "Reject attachment files that are of an unrecognized format"
See #427

Helpy should reject `Post` attachments that have no extension, or that are of an unsupported file type.  A meaningful error message should be displayed to the user.

[2016-11-18 02:35] scott opened #443 "KB content editor should have a file field to select images for the editor"
Currently you can drag and drop images into the wysiwyg editor (admin::docs#edit) and they are stored correctly.  However, there should also be a file field button to select a file and have it be added to the editor window at the point of the cursor.  This exists when Cloudinary is configured as the backend, but for native/Carrierwave uploads it does not.

[2016-11-18 02:40] scott opened #444 "Add the ability to embed a Youtube video in a doc"
This will allow you to embed a Youtube video into a doc.  Basically what needs to happen is to add a form field that accepts the URL of the youtube video, and then insert it into the trix editor window.  This should exist on `admin::doc#edit` and `#create`

See: https://helpyio.slack.com/archives/general/p1477939555000065
https://github.com/basecamp/trix/issues/120

[2016-11-18 03:43] luisalduucin commented on #442
@scott I want to work on it

[2016-11-18 13:14] CGA1123 commented on #433
@scott I don't have access to http://support.helpy.io/admin/topics/328!

[2016-11-18 14:57] scott commented on #433
Oops also available here- http://support.helpy.io/en/topics/328-change-source-or-asker-of-a-question/posts

[2016-11-18 19:19] #406 closed

[2016-11-18 19:22] #396 closed

[2016-11-18 21:05] scott opened #446 "Add flags to API"
The new flagging capability needs to be exposed in the API

[2016-11-18 21:06] scott opened #447 "i18n strings for flagging"
The new flagged posts functionality still needs to be converted to use i18n token and strings.

[2016-11-19 14:25] hadifarnoud commented on #367
@scott please advice how I can fix this. we can't use Helpy unless we're sure all emails are going to show up on it.

[2016-11-19 18:56] #9 closed

[2016-11-19 18:56] #347 closed

[2016-11-19 18:58] #343 closed

[2016-11-19 19:00] #281 closed

[2016-11-19 19:01] #226 closed

[2016-11-19 19:02] scott commented on #129
Just to close this out, Helpy 1.x now includes Carrierwave as the default.

[2016-11-19 19:02] #129 closed

[2016-11-19 19:06] scott commented on #395
@rschaerer are you still experiencing this bug?

[2016-11-19 19:11] scott opened #449 "Response Scoring"
Similar to how we have a "did this help" message for the KB, response scoring adds a similar functionality to resolved topics. An email should be sent to the user asking them to rate the quality of their interaction. It should also be shown on the web UI.

In addition, these things should be logged to the database and reporting generated.

[2016-11-21 10:49] rschaerer commented on #395
@scott, we have this bug with `Version: 1.0.0:2e0430f` and I didn't come round to do some more testing.

[2016-11-23 23:07] danmitchell- commented on #444
+1 for this. I'd like the code block to except HTML embed's i.e. youtube/vimeo etc

[2016-11-25 16:05] arhi commented on #221
I guess it's this (closed) pr:
https://github.com/helpyio/helpy/pull/140

any doc how to use the imap ?

[2016-11-28 16:36] #433 closed

[2016-11-28 19:34] #412 closed

[2016-11-28 19:38] scott commented on #171
This exists, and is now official.

[2016-11-28 19:38] #171 closed

[2016-11-28 19:45] connorshea opened #455 "Update grape-entity"
https://groups.google.com/forum/m/#!topic/ruby-grape/H7O3fX8TA24

There's a security vulnerability in versions before 0.6.0.

[2016-11-28 19:52] CGA1123 commented on #455
Are you working on a PR for this?

The [`CHANGELOG`](https://github.com/ruby-grape/grape-entity/blob/master/CHANGELOG.md#060-2016-11-20) for `0.6.0` doesn't mention any breaking changes.

[2016-11-28 20:21] scott commented on #442
@luisalduucin are you working on this?

[2016-11-28 20:22] #367 closed

[2016-11-28 21:34] #303 closed

[2016-11-29 09:40] puggan commented on #221
I currently dosn't have a Helpy installed, so if someone else can confirm at works after PR 140, feel free to close this issue.

[2016-11-29 13:33] hadifarnoud opened #457 "delete a user"
sometimes there are newsletters and other spam emails that show up and those are not real users. would be great to be able to delete them

[2016-11-29 13:33] CGA1123 commented on #221
@arhi @puggan

PR #140 doesn't appear to have been merged in.

[2016-11-29 15:03] arhi commented on #221
On 11/29/2016 2:33 PM, Christian Gregg wrote:

I was unable to find any way to activate imap in the latest source and
140 is "closed" ... looks like it was merged then unmerged but request
was never reopen so imap is not in .. but no "pending PR's exist" that
handle imap issue

[2016-11-29 15:38] scott commented on #221
Yes that is pretty much what happened.  It was merged but caused a bug that broken regular email so it got reverted.  That was then fixed, but the contributor mixed up the git repo somehow and I never got a chance to fix it because it was a low priority for me at the time.  If someone wants to try to sort out the PRs and branches and resubmit a PR that would be awesome!

[2016-11-29 16:36] CGA1123 commented on #221
We would need to revert #178 (which is the revert of #148 ) and then apply the fix from #179.

[2016-11-29 20:36] hin101 commented on #398
Pull Request #459

[2016-11-30 13:58] wilsonpeng8 opened #460 "email still not working"
ive tried mailgun and even followed the full instructions for sendgrid but i still cant eeceive notification and invitations emails from both, anybody help?

[2016-11-30 14:00] wilsonpeng8 commented on #457
ive also noticed theres no way to delete a user from the user list

[2016-12-01 04:07] scott opened #462 "Enhancements to change user feature"
After getting to actually use the new "change ticket author(user)" feature, I have discovered a couple things that would make it more useful:

1. Change focus to the search bar once the modal is open.

2. Offer the option to add a user if nothing matching is found in the search.
- The idea is that if no results are found, there should be a link to add the user
- Instead of "No Results Found," swit

[2016-12-01 09:31] rschaerer commented on #398
Hi @hin101 thanks for the PR #459 ! From your PR description I read that you didn't tackle the two issues I posted on [19 Oct](https://github.com/helpyio/helpy/issues/398#issuecomment-254865864)? (which are not related to the actual issue #398 in the first place and should have been posted as new issue anyways).

If you confirm this, I'll open a new issue with the [data leak](https://github.com/he

[2016-12-01 12:10] hin101 commented on #398
Hi @rschaerer I have hidden it from the front end also, but I haven't tackled

If someone sets a post's Status: Published and not Draft made in the the common repiles category, this post is being exposed by explicit URL (but it keeps not accessible through navigation from the knowledgebase) (Source: helpy channel)

[2016-12-01 18:16] scott commented on #460
What version including SHA are you on? I think there may be an issue with something that was merged in a few days ago.  Also, are you using the standard suckerpunch queue or something different?

[2016-12-03 10:45] rschaerer commented on #398
@hin101 : could the switches published & draft also made hidden for new posts and editing of posts in the common replies category? What do you think?

[2016-12-04 21:02] rhazegh opened #465 "SMS integration"
Is there already SMS integration or plans to include SMS integration via services such as twilio?

[2016-12-05 02:55] #425 closed

[2016-12-05 02:56] #455 closed

[2016-12-07 01:24] scott opened #469 "Help Needed! Maintainer for Docker."
We currently need a community member to help out with maintaining the docker container for Helpy.   This means updating the container scripts to keep in line with the release cycle of Helpy, making sure everything works correctly, and helping users as needed.  Please reply here if you can help!

[2016-12-08 20:57] hin101 commented on #446
Pull Request #470

[2016-12-08 21:01] hin101 commented on #441
Ill pick this one up :)

[2016-12-11 16:58] scott commented on #460
Did you get this working?  I am closing this since you have not replied, but reply if you still have an issue.

[2016-12-11 16:58] #460 closed

[2016-12-11 17:00] scott commented on #465
There is not yet, but its a good idea that I have added to the backlog.  I think this would be a good add-on/extension.

[2016-12-14 19:16] scott opened #473 "Swagger doc is now throwing an error"
Trying to browse the API documentation is resulting in an error:

[code]

[2016-12-17 03:52] neliojrr opened #476 "Inactiveting users"
Is the 'Active' checkbox working?
I tried to set off but it doesn't seems to work. The checkbox is unchecked and in the database the users column 'active' is set as false but the user is still able to log in.

[2016-12-21 18:52] scott commented on #476
Hmmm sounds like a bug, thanks for reporting.  Will see if we can fix it :)

[2016-12-21 18:57] scott commented on #465
Can you expand a little bit on how the integration might work and what problems it would solve?

[2016-12-21 18:59] CGA1123 commented on #476
Had a little look at this, seems that there is indeed a field in the `users` table. But I can't see any overriding of `Devise::SessionsController` adding in an extra check for that field.

[2016-12-21 19:08] scott commented on #476
If you want, go ahead and submit a PR :)

[2016-12-22 01:20] rhazegh commented on #465
SMS integration allows your customers to communicate with the help desk using any kind of cell phone by sending a text message or a picture to tell you what kind of problems they are experiencing.

In this case, the customers will naturally expect a quicker response. You could have you customer support to address these issues with a higher priority or almost in real time.

This idea could be expan

[2016-12-22 09:15] sesharim commented on #476
@CGA1123 hi, have you started it or i could?

[2016-12-22 10:49] CGA1123 commented on #476
@sesharim feel free to start on it. You just need to create a cutom devise controller, with an extra check for `User#active` before allowing a sign in.

There's some helpful pointers [here](https://github.com/plataformatec/devise#configuring-controllers) for how you might start off.

[2016-12-22 17:37] #473 closed

[2016-12-22 17:43] scott opened #477 "Write a test to make sure swagger_doc.json returns a valid response"

[2016-12-22 19:07] scott opened #478 "Add a user search endpoint to the API"
Currently there is no way to look up users, this will add a search API for users.

[2016-12-22 19:10] scott opened #479 "Add optional date constraints to the api list methods"
This should add an optional parameter to all ticket list endpoints:

`/api/v1/tickets/status/{status}`
`/api/v1/tickets/user/{user_id}`

[2016-12-22 19:19] scott opened #480 "Add ticket list API for groups"
There should be an endpoint for listing tickets by group.

[2016-12-22 19:21] scott commented on #431
Yeah I think this one is going on hold for now.

[2016-12-22 19:21] #431 closed

[2016-12-22 22:27] #478 closed

[2016-12-29 16:42] scott commented on #476
Hey @sesharim any updates on this?

[2016-12-29 16:47] #447 closed

[2017-01-01 22:16] #462 closed

[2017-01-01 22:16] #446 closed

[2017-01-01 22:19] #124 closed

[2017-01-02 03:27] #439 closed

[2017-01-02 03:34] scott opened #488 "i18n for keyboard shortcuts guide"

[2017-01-05 17:48] scott opened #495 ""Discussions" should be renamed "Tickets""
After talking with a number of users, it seems that the word "discussions" creates quite a bit of confusion- many customers do not like the concept of "discussion" because it means an open community thread as opposed to a private ticket.  This change will alter the system to use the word 'tickets' in most places, and a new theme will suffice to handle the community forum.

[2017-01-09 11:02] Dayjo commented on #495
👍  think this is very wise

[2017-01-10 14:51] scott opened #497 "Use i18n keys in tests inplace of hardcoded links"
Particularly in the integration tests, the tests should use `i18n` keys instead of the actual links.

[2017-01-11 14:37] #440 closed

[2017-01-11 15:02] samtuke commented on #495
+1

[2017-01-11 15:05] samtuke opened #498 "Make internal notes visually more distinctive"
It is crucial that internal notes and their content stay internal. Currently internal messages in a thread look very similar to messages to the customer. Please increase the visual distinctiveness, e.g. by giving internal notes a different background colour so they stand out of the page.

[2017-01-11 15:08] samtuke opened #499 "Add support for "VIP customers""
Some customers are very important -- please add the ability to identify them and their tickets so that they can be prioritised.

[2017-01-11 15:21] samtuke opened #500 "Add support for custom HTML email templates"
Please add support for custom HTML email templates, e.g. including company logo, social media links etc. We already have standard HTML emails to ensure consistent branding across customer-facing services but currently it does not appear possible to use them for Helpy-generated emails.

[2017-01-11 17:45] #417 closed

[2017-01-11 19:48] scott opened #501 "Disable "private" forums in edit"
There is currently no way to bring back a private forum via UI.  This should be removed or mitigated.

[2017-01-11 19:49] scott commented on #480
this should be an advanced search endpoint?

[2017-01-11 19:55] scott opened #502 "Add a horizontal view to the teams page"
The teams report is great for small teams, but when the number starts to grow it falls apart.  This enhancement is to add a horizontal view when the number exceeds X.

[2017-01-12 15:52] disturbio opened #503 "Question about requests to 3rd parties"
Would you accept a patch to make requests to 3rd parties (like google analytics, fonts or jsdelivr) optional? we currently on the process to deploy helpy and our users are very privacy minded, meaning we need to strip all of those. It will be cool if we don't have to maintain those changes only in our own fork.

[2017-01-12 17:43] scott commented on #503
Yes this would be a valuable addition.  Send over a PR and we can work a little to integrate it into the overall platform as needed.

[2017-01-12 17:48] scott commented on #500
Thanks for making these suggestions!  We'll add them into the backlog and prioritize them for dev, unless you want to submit a PR.

[2017-01-12 17:49] #495 closed

[2017-01-12 18:15] scott commented on #498
This is good.

[2017-01-12 18:18] scott opened #504 "User tickets should not display on edit user view"

[2017-01-12 18:20] scott opened #505 "Refactor settings"
Settings should have a separate URL for each panel, and a menu dropdown that gives access to all.

[2017-01-12 20:23] micah commented on #457
I was just searching how to delete a user, and I couldn't find one, so I came here to file an issue, and looks like there is one!

[2017-01-12 22:13] #501 closed

[2017-01-12 22:13] #504 closed

[2017-01-13 20:28] scott opened #508 "Emails containing invalid utf8 chars are not saved properly"

[2017-01-13 20:29] scott opened #509 "Emails containing an attachement of invalid file format are sending a 422"
This causes the email to repeat when using Sendgrid

[2017-01-13 22:12] #508 closed

[2017-01-13 22:12] #509 closed

[2017-01-17 15:27] scott opened #513 "First message is not being displayed immediately after creating ticket via admin"

[2017-01-17 18:05] #513 closed

[2017-01-17 19:18] #69 closed

[2017-01-17 19:18] #437 closed

[2017-01-17 23:04] scott opened #516 "Header breakpoint weirdness"
If you have a two word logo, the second word disappears at some breakpoints in the light and flat themes.

[2017-01-18 03:50] #516 closed

[2017-01-18 16:51] samtuke opened #518 "Use absolute paths in widget code snippet"
Currently the auto-generated widget code snippet is failing to load the widget on my local development server.

Code used:
[code]

This results in 404 errors. If the paths are made absolute, including http://, then the problem is resolved.

[2017-01-18 16:53] samtuke opened #519 "Add HTTPS support for widgets"
Currently using HTTPS for Helpy widgets fails with an insecure response. Using HTTPS when the widget is embedded in pages using HTTPS is required by some web browsers. Please add HTTPS support to the server providing the widget content.

[2017-01-19 14:13] scott opened #520 "Add a way to logout from the backend"
For agents that only reply to tickets, the idea of having to go back to the support site to logout is confusing.  There should be a place/way to logout from the admin UI.

[2017-01-20 03:50] raykai commented on #166
i would love seeing support for mysql

[2017-01-20 14:05] scott opened #521 "Add a way to store extra data (JSON) to User profiles"

[2017-01-21 00:08] #499 closed

[2017-01-21 19:13] lccezinha commented on #521
@scott what about it ? http://nandovieira.com/using-postgresql-and-jsonb-with-ruby-on-rails

[2017-01-21 19:32] scott commented on #521
Yeah I was thinking of this or just serializing into a text column.

[2017-01-21 23:21] lccezinha commented on #521
I'll open a PR with this enhancement ASAP ok ?

[2017-01-22 00:46] scott commented on #521
That would be awesome.  I picture using the User#create API as the primary way of adding json data to the User.  Can you also add this?

[2017-01-23 22:38] #441 closed

[2017-01-24 00:26] scott opened #527 "User profile should include tickets in reverse chrono order"
Currently, new tickets are shown last, which is not ideal if a user has a lot of tickets.

[2017-01-30 03:55] scott commented on #520
Resolved in #511

[2017-01-30 20:00] #505 closed

[2017-01-30 20:00] #520 closed

[2017-02-03 08:35] simzen85 commented on #465
+1

For example Zendesk can receives "message" (then create ticket) via Facebook Messenger, phone call from Call Center software

[2017-02-05 02:40] monaka opened #540 "Duplicated mapping key in locales?"
My Yamllint reports like below. This may be harmless. But is it better to fix?

[code]

[2017-02-07 01:27] monaka opened #542 "[nitpick] "Log in" or "Sign in"?"
On the UI, there have "Log in" and "Sign in". Can we unify them?

[2017-02-07 01:45] monaka opened #543 "500 error with attachments that have multi-byte character filenames."
My helpy is customized and I apologize when this is caused by customize.

I got  an 500 error after submitting reply with attachments that have multi-byte character filenames.
Log is like this.

[code]

I guess filenames should be encoded before passing CarrierWave.

[2017-02-07 02:13] monaka commented on #543
Update.
The whole log is like this. And CarrierWave (I customize it to use with Azure Blob) stores attachments correctly.
Filenames should be encoded before storing to DB or after getting from DB.

[code]

[2017-02-07 02:18] monaka commented on #543
In addition and IMO, should attachments be stored behind the hashed directory?
In the current implementation, crackers may prospect URL to attachments easily.

[2017-02-07 02:46] Rynaro commented on #542
I see in Helpy code, we have few lines that writes "Log in", and all the others refers to "Sign in". I suggest to define a pattern using "Sign in".

[2017-02-07 02:50] Rynaro commented on #540
YAML will consider the last assignment to key. It's harmfully to code when you need to define a behavior inside your translation, and you get a override value. I not consider the duplicate key, that makes the file with some junk code.

[2017-02-07 15:50] CGA1123 commented on #542
Are these lines hardcoded?

[2017-02-08 10:33] Rynaro commented on #542
Yes, these lines are hardcoded on elements, and `en.yml` have one rule that writes "Log in".
All the others rules refers to "Sign in" sentence.

[2017-02-10 09:40] Rynaro commented on #543
I see your main language is Japanese, and your language uses non-ASCII patterns. I need to test more the upload methods, but the problem can show to another languages characters patterns.
But looking this log trace, is clear to me. The application don't sanitize the non-ASCII characters correctly.

I need to check this behavior more closer to create a non-intrusive and best-fit solution.

[2017-02-13 16:39] pinkasey commented on #465
I'm interested in integration with Facebook.

The popular use-case would be that a company has a facebook-page, and the CS Team expects any message to that page, and any post to that page, would translate to a ticket in the Helpdesk.

In my use-case, the company has many groups, and each CSR is associated with a Facebook group, and I would like any post to that group **that is not posted by a CSR*

[2017-02-14 00:36] Rynaro commented on #543
@monaka I've made some test using Kanji characters and all Helpy controllers, and views could render the attachments (images, raw text files). Can you give more details how reproduce this error?

[2017-02-14 03:22] monaka commented on #543
This will be reproduced just sending an attachment file named in Kanji.
And probably also Emoji characters.
I can try your patch on my site if you open it.

[2017-02-14 09:37] Rynaro commented on #543
First I made a test with a pure instance of Helpy, based on helpy/master. And all Kanji file named, are uploaded, and rendered on your respective views.
Or your instance has a particular modification that causes this problem, or I don't try all cases what your faced. I only tried Kanji characters, and the pure instance of Helpy works well.
In (Brazilian) portuguese we have some few multibyte chara

[2017-02-14 21:13] tomatoturnip commented on #457
Is anyone working on a PR for this? If not, I can start on it.

[2017-02-14 22:36] scott commented on #457
I am not aware of anyone working on this.  A PR would be great!

[2017-02-14 22:46] tomatoturnip commented on #457
Cool I'll get started on it. Thanks @scott! :)

[2017-02-14 22:50] scott commented on #542
Yeah I think "Sign in" is preferable.  We should update any non `i18n` instances of either to use the translations and then update en.yml to user "sign in" instead of "log in".

[2017-02-14 23:02] scott commented on #457
Awesome.  I think it would be ideal to put this into a background job once you have it working in principal.

[2017-02-15 17:41] scott opened #546 "Text settings cannot be reset to a blank state."
In the settings, header and footer js are not updating back to a blank state.

[2017-02-16 23:03] scott opened #547 "Add a settings panel item for "common replies""
This should link to the common replies category of the content section.

[2017-02-16 23:05] scott opened #548 "Remove meta data from common replies doc editor"
The new and edit views for docs in the common replies categories should not have the meta keywords, desc and other web specific fields visible.

[2017-02-17 21:22] hin101 commented on #500
Hi @samtuke @scott I don't mind taking a look at this. Could you provide more details?

[2017-02-18 16:58] samtuke commented on #500
@hin101 For me, simply allowing the saving of HTML templates, and automatic insertion of messages into these templates when they are sent by Helpy, would be sufficient. If the template can be previewed / rendered in-browser, that would be even better. Multiple categories of template may be required for different kinds of emails, e.g. template for emails to admins vs emails to customers. A category

[2017-02-18 18:31] scott opened #550 "Add a model and setting panel for channels"
This enhancement will add a settings panel for `Topic.channel`s, and allow the admin to create, update, and remove channels from the admin create ticket view.  At a minimum, it should have the following attributes:

[code]

[2017-02-18 18:39] scott opened #551 "Add a way for external forms to post json directly to a helpy instance."
At the risk of inviting spam into Helpy, we should allow external websites/forms to post tickets into Helpy similar to the way the Slack does, using a complex secret webhook URL.  This should require JSON to be passed including as much information about the external user as possible, along with a message.

The secret URL should act just like the current external facing form, by attempting to recog

[2017-02-19 02:32] monaka commented on #543
Exactly I have a tiny modification for using Azure Blob with CarrierWave.
But it's hard to explain how my patch causes this issue, IMO.
Okay, I'll try to reproduce and to make new patch. Thank you for your checks.

[2017-02-19 23:16] scott opened #552 "Add ability to "resend invite" to previously invited agents"
Add a menu item to "resend invite" to previously invited agents/users

[2017-02-20 03:12] muescha opened #555 "i18n is out of sync"
the i18n is very out of sync

pt seems to have much more keys:
en.yml: 401 loc
pt_br.ynl: 505 loc

[2017-02-21 13:16] ellimist opened #557 "Random failing tests"
Discovered this when pushing this pull request #556

Apparently the tests are failing randomly on this assert:

File: `test/controllers/api/v1/topics_test.rb`
Line: `290`

`assert_equal('note', object['posts'].last['kind'], "The last post should be a note")`

Ran the tests twice, and once it failed trying to assert that `note` == `first` and the second time, it failed trying to assert that `note`

[2017-02-23 15:39] scott opened #558 "Update to Rails 4.2.8"

[2017-03-02 04:53] scott commented on #558
#560

[2017-03-02 04:53] #558 closed

[2017-03-02 04:54] scott opened #561 "Add ability to invite agents by sharing link, instead of only email"

[2017-03-02 04:57] #476 closed

[2017-03-02 04:59] scott commented on #547
Any updates on this @hin101 ?

[2017-03-03 07:42] monaka opened #563 "Can't put Helpy into sub URL path."
My customer want to use Helpy in their Web application.
'/' has already used by the application. So the instance of Helpy must be located `/support/`  or somewhere.
But the master branch of Helpy doesn't care about this case.
( I have a half-baked patch and I can send it as the pull request. )

[2017-03-03 14:22] scott commented on #563
I played around with this idea once a long time ago- I was able to get it to work in a `/support` directory by adjusting some of the routes.

[2017-03-04 01:56] monaka commented on #563
@scott There have some client side scripts that have absolute links in the current master branch. So I think we must apply patches to `assets/`.

[2017-03-06 05:25] monaka commented on #543
@rynaro Could you tell me what version of Ruby are you using?
Reffering to README.md, Helpy requires Ruby 2.2+. And URL/URI handlings are changed in Ruby 2.3.
I'm not sure the changes causes this issue. Just possibility.

[2017-03-06 10:08] monaka commented on #543
I got an another 500 exception in displaying avatar in addition to attachments.
(But there is no exception on the logo even thought they are same PNG file. I'm not figure out why...)

[code]

And, I found [a commit to CarrierWave related on URL encoding](https://github.com/carrierwaveuploader/carrierwave/commit/8ee0f879e656ee788a2df67b31e724e952399578).
In addition, I found the article describes t

[2017-03-06 10:08] #543 closed

[2017-03-07 00:09] scott opened #568 ""Form submission canceled because the form is not connected""
We started seeing this error in Chrome when new tickets are created and include an attachment.  The `Topic` is never created and the UI hangs.  Everything works find in Safari and possibly other  browsers.

More info here: http://stackoverflow.com/questions/42053775/getting-error-form-submission-canceled-because-the-form-is-not-connected

[2017-03-07 19:21] #568 closed

[2017-03-08 21:10] scott opened #570 "Disappearing group menu"
The group menu contains no values after a new post is added in the admin.

[2017-03-08 21:23] #570 closed

[2017-03-13 15:45] gerickt commented on #24
+1

[2017-03-13 19:56] hin101 commented on #547
@scott working on this one now for you, just got back from holiday

[2017-03-14 08:51] azul opened #573 "Hide trashed and spammy comments from knowledge base"
After putting comments on helpdesk articles in the trash or marking them as spam they still show up.

[2017-03-21 15:15] scott opened #580 "Adding a user through oauth should set role to user"
There is a bug where it is set to agent currently

[2017-03-21 15:31] #580 closed

[2017-03-22 21:55] scott opened #585 "Add a nicer multiselect to the agent team field"
Currently it is just an open ended field, but it would be nicer for the UI to use a multi-select.

[2017-03-23 17:37] #585 closed

[2017-03-26 17:01] Lubo commented on #469
Why don't you just import Dockerfile to this repository and let Docker Hub build it when a new tag is pushed ? This way, nobody would have to keep up with anything. I can help out with initial setup and writing Dockerfile (I've seen some Dockerfiles on @helpyio, but I don't like them).

[2017-03-26 19:07] #547 closed

[2017-03-26 19:15] #548 closed

[2017-03-27 01:00] Rynaro commented on #488
I think the PR #544 shows a solution for this issue.

[2017-03-28 09:14] schmurfy commented on #334
I know this issue is closed but it would be nice to have the option to disable signup altogether without making any assumptions on the user's usecase, we are currently trying out helpy and don't want anyone signup up.

[2017-03-28 14:58] scott commented on #488
Yeah it does, thanks @Rynaro

[2017-03-28 14:58] #488 closed

[2017-03-30 12:52] azul opened #593 "Crash in team view agent stats"
<pre>
ActionView::Template::Error (undefined method `created_at' for nil:NilClass):
    54:   </div>
    55:
    56:   <div class="agent-response-time agent-stat">
    57:     <% delays = @responded_topics.where(assigned_user: agent_stats.assigned_user).map { |t| t.posts.second.created_at - t.created_at } %>
    58:     <h4>
    59:       <% if delays.empty? %>
    60:         -
  app/views/admin/

[2017-03-30 13:02] azul commented on #593
Interestingly the topic that triggered this did not have an initial post by the user. It only had a title. It was submitted by email. Maybe the mail was empty or not processed correctly.

[2017-03-30 13:39] scott commented on #593
Hey @azul thanks for sharing this!  We still see a rare issue with the email processor and that leads to a `Topic` being created that does not have a first `Post`.  I would love it if you could figure out any more details about what caused this.

[2017-03-31 05:12] azul opened #595 "reloading a search result page triggers 500"
In the admins panel, if i type in a search string and search for it i get a fine set of results. But once i reload that page I get a 500 error.

I guess this controller only responds to json.
[code]

[2017-03-31 05:35] letlive opened #596 "no implicit conversion of Symbol into Integer"
Hi,

I tried to install Helpy on Debian Jessie, however, 'bundle install' reported an error as below:

――― ERROR REPORT TEMPLATE ―――――――――――――――――――――――――――――――――――――――――――――――――――――――
- What did you do?
- What did you expect to happen?
- What happened instead?

Error details

    TypeError: no implicit conversion of Symbol into Integer
    /home/rails/.rvm/gems/ruby-2.2.1@global/gems/bundler-1.8.

[2017-03-31 06:22] azul commented on #593
Hey @scott

Here's the error from the logs when processing the incoming mail:

[code]
The text parameters to Griddler::EmailsController#create as */* contained this: `e\xF1a`
There is no mentioning of encoding there. But i assume it was a not utf8 encoded email. The mail was in spanish and the character was probably an ñ

[2017-04-01 02:11] #596 closed

[2017-04-01 02:25] scott commented on #596
Did you get it to work?  I am curious if you had to do anything special to get it installed on Debian?

[2017-04-03 14:50] letlive commented on #596
Hi @scott, No, I didn't do anything special. I tried according to the steps in Ubuntu.

[2017-04-08 19:47] #551 closed

[2017-04-08 19:47] scott commented on #551
#599

[2017-04-10 19:19] hin101 commented on #561
Hi Scott, to invite an agent, does the user have to be an administrator?

[2017-04-10 21:11] scott commented on #561
Yes that is correct.

[2017-04-14 15:59] wondersoftheworld opened #606 "Forgot login credentials"
hey scott & co, thanks for making this available as open source.
i used your one click install to heroku some time ago and the installation is still active. however, i totally forgot the login credentials i setup initially so i am unable to login or use the installation at all. how can i retrieve or reset my setup login credentials? i tried the forgot password link but no password was received pro

[2017-04-14 17:33] #498 closed

[2017-04-14 18:43] scott opened #608 "docs and categories API endpoints are showing internal docs"
This is probably not the best behavior, since the endpoint is documented as returning "public" docs.  I think it would be best to create new endpoints for the internal KB, and keep the existing endpoints scoped the way they were.

[2017-04-14 18:45] scott opened #609 "Adding a comment to internal documents does not create a "first" post"
The add comment form for internal documents is hard coded to create a post of kind "reply".  The first comment/post should always receive kind: first to ensure formatting and other assumptions work correctly.

[2017-04-14 18:47] #416 closed

[2017-04-14 20:18] silverskysoft commented on #416
awesome. thanks @scott & @Rynaro

[2017-04-14 20:27] scott commented on #606
Hey @wondersoftheworld I am not sure what the best way to approach this is.  Can you access the database directly?  If you can, you could sign up a new user through the web, then change them into an admin in the database table- then log in with the new admin, go ahead and set up the email so you receive the reset messages.  One idea...  Another is to up the log level and then try and grab the rese

[2017-04-14 20:32] scott opened #610 "Common replies and email templates appear in internal content"
Currently, these categories appear in the internal content home if they have docs associated with them, and they should not.  These two categories should remain hidden.

[2017-04-14 20:33] scott opened #611 "Internal knowledgebase error on 404"
When redirecting to `not_found` from the internal knowledgebase, the wrong route is used and results in a 500 error.  This happens when clicking #610

[2017-04-17 17:13] #606 closed

[2017-04-18 15:30] genachka opened #613 "Any Uploaded file results in 404. Logos in settings design as well as attachments in tickets"
Trying out Helpy. Using the docker image, updated it to latest release (1.2.1). Uploaded in `Settings` > `Design` header logo and favico. Shows that the path for them is: `/uploads/logos/logo.png` and `/uploads/logos/favicon.ico`

If I look within the docker image for the backend, there is physically a directory `/helpy/public/uploads/logos` which **does** contain the uploaded files. But from the

[2017-04-18 16:14] scott commented on #613
Can you load the images in browser directly by URL?

[2017-04-18 17:03] genachka commented on #613
No

[2017-04-20 15:33] genachka commented on #613
Is this a known issue? Is there a workaround?

[2017-04-20 15:56] scott commented on #613
Not that I am aware of it, that functionality works fine when directly installed.  I am guessing it could be a permissions issue- since the file is getting written but is not viewable even with the absolute URL.

[2017-04-21 00:27] genachka commented on #613
The permissions were same as on assets folder. As a test to rule that out I gave uploads and everything under 777 and still not found. Sounds like a routes issue, but not sure where that gets configured or can check and what it should be set to to find public/uploads/logos/*

[2017-04-21 00:34] genachka commented on #613
Also, I tried opening directly `/assets/logo.png` which worked but any file I tried copying in to there and opening results in 404 while I can open existing default files from there.

[2017-04-21 15:28] azul commented on #302
Helpy uses omniauth under the hood. That's a rails tool to support different authentication strategies. Here's a list of the different existing strategies:
https://github.com/omniauth/omniauth/wiki/List-of-Strategies

I wrote an omniauth strategy for our own sso solution and plugged it in and it basically just worked. If your system supports oauth2 that may be a good starting point.

[2017-04-21 15:29] azul opened #614 "Allow admin to delete groups"
I have found no way to delete groups from the ui. Some users seem to create groups with their tickets. Now we have some spammy groups that are making it hard to navigate.

[2017-04-21 18:40] scott commented on #614
You can delete groups from the settings > groups panel.  Also, if you dis associate all tickets from a group, it should disappear on its own.

[2017-04-21 18:40] #614 closed

[2017-04-21 20:01] scott commented on #595
I was unable to recreate this in testing.  Reload seems to work correctly.

[2017-04-21 23:10] scott opened #616 "Add API endpoint to create a ticket with an email address"
The current endpoint expects a userID which means that you either have to look up the user or create them before creating a ticket.  This would bake that logic into one call, similar to the way the `email_processor` and `topics#create work.`

[2017-04-22 09:44] hadifarnoud commented on #302
an example would be awesome @azul.

[2017-04-23 16:56] azul commented on #302
https://0xacab.org/riseup/helpy/commit/b1444d269ff5f6efbb83ea28a51b0053c5a028e8
Not sure this is helpful though.
You replace the other gems with your own omniauth strategy, require it in the devise initializer and add a callback in the omniauth_callbacks_controller. The other changes are specific to the strategy we use.
If you are using oath2 use one of the existing oauth2 based strategies as a sa

[2017-04-24 15:51] yasirazgar commented on #595
I too tried this in my local development env, it seems to work fine

[2017-04-25 08:26] azul commented on #595
I'm upgrading to 1.2.1 to see if i can still reproduce this.

[2017-04-26 02:53] snxraven opened #618 "500 Server Error when opening tickets"
I, [2017-04-25T22:48:57.941337 #1528]  INFO -- : Completed 500 Internal Server Error in 101ms (ActiveRecord: 0.5ms)
F, [2017-04-25T22:48:57.945774 #1528] FATAL -- :
ActionView::MissingTemplate (Missing template topics/create, application/create with {:locale=>[:en], :formats=>[:html], :variants=>[], :handlers=>[:erb, :builder, :raw, :ruby, :jbuilder]}. Searched in:
  * "/home/rails/JBBar/JBBar-Hel

[2017-04-27 02:02] genachka commented on #613
Noticed in  production.log the following error:
`F, [2017-04-27T01:50:48.415678 #206] FATAL -- :
ActionController::RoutingError (No route matches [GET] "/uploads/logos/logo.png"):`

Is there a routes file I need to modify?

[2017-04-30 14:07] Vad1mo commented on #500
There is a very nice and easy to user templating language for e-mail. It called [mjml][1]  there is even a [ruby gem][2] that makes the work with rails even easier.

It would be easy to add upload form for various templates in the the admin section so the user can could upload his mjml files. Alternatively a single HTML file that contains everything.

[1]: https://mjml.io/
[2]: https://github.com/

[2017-05-04 05:04] spajus commented on #616
This would be very useful. Right now even looking up the user by email is cumbersome, since api only allows listing all users. And what if you have thousands?

[2017-05-08 07:38] hadifarnoud commented on #302
@azul I used your code but it turns out it only works with omniauth. this is harder than I thought and requires editing core files (which makes future updates a bit painful). do you have any plan for this @scott ?

[2017-05-10 09:26] azul commented on #302
@hadifarnoud I think there is no way around loading your custom auth gem, requiring it and having hooks for it in your routes and maybe even the callback controller. Additions to the gemfile can occasionally lead to conflicts if they are in the same line another gem is added upstream. But usually these are straight forward to resolve. Gemfile.lock is autogenerated by running bundler so conflicts i

[2017-05-10 09:31] hadifarnoud commented on #302
@azul you may be right. I have to first figure out how to make this work. However, I think having a configurable custom Oauth2 is the way forward. most helpdesk systems have it. It may make sense to add it to Helpy.

[2017-05-12 14:54] azul opened #622 "minor: post_params in TopicsController is unused"
I don't think this is used anywhere.
https://github.com/helpyio/helpy/blob/master/app/controllers/topics_controller.rb#L158

Confused the heck out of me never the less.

[2017-05-13 18:15] GPrimola commented on #616
Hi guys, I'm going to work on this issue, ok?

[2017-05-14 17:51] GPrimola commented on #616
Hi @scott, as we already started a discussion about naming conventions for this endpoint at slack, I'm bringing this discussion here for documentation purposes.

Well, I asked you about any naming conventions, because as this issue is requiring a new endpoint we would come up with something like `post /api/v1/tickets/create_with_email.json` which I think is a little bit odd.
My suggestion would be

[2017-05-14 18:15] GPrimola commented on #616
As for the `password` attribute is another thing I would bring. I was reading the code of `email_processor` and I would do something like that: a generated password that expires. I think that's most appropriate for this case.

[2017-05-15 16:18] scott commented on #616
I think this is a good approach as long as it does not break the expected current behavior of the endpoint.  People have built integrations based on the current implementation which requires a `user_id` param.  We could relax that to make it require either the userID or email address which would create a new user and use that instead.

[2017-05-15 22:39] GPrimola commented on #616
That's exactly what I'm suggesting. I am aware about the existence of integrations and any changes in the interface would break any communication with the API.

But relaxing the user_id parameter would not make any difference to any existing integrations. :)

[2017-05-16 09:13] ddeenniiss commented on #221
Any news about this ?

[2017-05-16 15:48] scott opened #625 "List currently logged in agent first in the assign to agent dropdowns"
The ticket UI and bulk update UI both give the agent the ability to assign the ticket to and agent.  This list should prioritize (list first) the currently logged in agent/admin.  You will find this in `admin/topics/_topic_options.html.erb`

[2017-05-16 18:13] scott commented on #618
I am not sure what to do with this.  If you are still having problems please provide details on how to recreate the issue.

[2017-05-16 18:13] #618 closed

[2017-05-16 18:35] scott opened #627 "Add country to User model"
Add a country field, and country selector to the admin edit user views.  Update API to support the country field via create, update and select operations.

[2017-05-17 10:49] lacion commented on #613
i am suffering this same exact issue running inside docker.

[2017-05-17 10:51] lacion commented on #469
agree with @Lubo  there is no need to have 2 separate repos for this. it would be much easier to have it all here.

[2017-05-17 17:55] mohammedyasir commented on #627
@scott I would like to work on this.

[2017-05-19 20:19] #550 closed

[2017-05-19 20:21] #398 closed

[2017-05-19 20:24] scott opened #631 "Make ticket listings sortable by date (up and down)"
Make the listing of tickets sortable by-

created_at asc
created_at desc
updated_at asc
updated_at desc
ticket number

This would add a new dropdown to the UI for sorting options.  There should also be a default sort order setting.

[2017-05-19 21:28] scott opened #632 "Refactor && DRY new user creation method"
As noted in #628 there is a significantly duplicated method for instantiating a new user that is repeated around the codebase.  Would be best to refactor these into one, drying up the code.

[2017-05-19 21:31] #616 closed

[2017-05-19 21:31] scott commented on #616
#628

[2017-05-19 21:36] scott commented on #632
Some work was done on there here #181

[2017-05-19 21:43] #608 closed

[2017-05-19 21:46] #610 closed

[2017-05-20 00:40] fbmore commented on #444
Hello... any news on this? I love the editor and I'd like to allow my users to be able to embed videos too. Thank you!

[2017-05-20 12:58] GPrimola commented on #632
Hi again @scott! I'm going to work on this issue!

[2017-05-20 13:00] scott commented on #444
I just switched editors to summernote (https://github.com/helpyio/helpy/commit/5f87cda3ff4f41a5413d61f6a3eecd4b5284bf46) which supports video embeds and some other neat stuff.  It is a great editor too.  If you update to the newest master, you will see that it is updated!

[2017-05-20 13:00] #444 closed

[2017-05-20 13:01] scott commented on #632
Thats great!

[2017-05-22 06:43] azul commented on #595
Seems fixed with 1.2.1. Thanks a lot!

[2017-05-22 06:43] #595 closed

[2017-05-22 08:20] Estumer opened #636 "Bug in the knowledge base"
When you click on the categories on the left it does not detect the category. However, if you are within a category the menu on the left works correctly. Sorry for bad english!

[2017-05-28 14:49] hin101 commented on #573
@azul could you let me know how to reproduce this bug, I have tried it on my dev and it works fine, thanks

[2017-06-14 21:02] freecrm commented on #613
I am having this issue too -- and I installed from Git, am running Webrick / built in web server.

This is a horrible buggy thing, are you guys just trying to make a buck on everyone's back, and not actually release what is running on your commercial offering?

It's rather suspicious....

[2017-06-14 21:11] scott commented on #613
Hey Eric-   this was a specific issue with Docker, and has been fixed in #637  It was not clear if you are trying to use docker or just run it locally...  Can you describe more of what you have tried so we can see what is going wrong?

The commercial version does have some extra features and set up, but the open source works great for most people.